@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

<section id="content">

    <header class="intro">
        <h2>最新消息</h2>
    </header>

    <ul class="breadcrumb">
        <li><a href="~/Index">HOME</a></li>
        <li>最新消息</li>
    </ul>

    <article class="news-article">
        <h3 class="title"><em>2015/11/10</em>J+D 官方網站正式營運了～</h3>
        <p>期待已久的 J+D 官方網站正式上線囉，感謝大家支持！</p>
    </article>

    @* <ul class="pager">
        <li><a href="">&lt;&lt;<em>第一頁</em></a></li>
        <li><a href="">&lt;<em>上一頁</em></a></li>
        <li>第 1 頁</li>
        <li><a href=""><em>下一頁</em>&gt;</a></li>
        <li><a href=""><em>最後頁</em>&gt;&gt;</a></li>
    </ul> *@

</section>

</div>