@model ProcCore.Business.DB0.News
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News News_content";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">
    @Model.news_title
</h3>

<p class="date">@Model.news_date.ToString("yyyy/MM/dd")</p>

<article class="editor">
    @Html.Raw(Model.news_content)
</article>

<p class="back">
    <a href="~/News/list" class="btn">&lt;&lt; Back</a>
</p>