@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="wrap">

<section id="content">

    <header class="intro">
        <h2>最新消息</h2>
    </header>

    <ul class="breadcrumb">
        <li><a href="~/Index">HOME</a></li>
        <li>最新消息</li>
    </ul>

    <article class="philosophy">
        <h3 class="title">經營理念<small>Philosophy</small></h3>
        <section class="grid">
            <img src="~/Content/images/AboutUs/phil1.jpg" alt="">
            <h4 class="title">企業精神<small>Organization Attitude</small></h4>
            <p><strong>穩健、踏實、高速成長</strong><br>Moderate、Hardheaded Growth </p>
        </section>
        <section class="grid">
            <img src="~/Content/images/AboutUs/phil2.jpg" alt="">
            <h4 class="title">企業方針<small>Objective for operation</small></h4>
            <p><strong>科技新、產品精</strong><br>New Technology for Production、Nicety of Product</p>
        </section>
        <section class="grid">
            <img src="~/Content/images/AboutUs/phil3.jpg" alt="">
            <h4 class="title">企業文化<small>Organization Culture</small></h4>
            <p><strong>誠、勤、樸、慎</strong><br>Honesty、Industry Frugality、Carefulness</p>
        </section>
        <section class="grid">
            <img src="~/Content/images/AboutUs/phil4.jpg" alt="">
            <h4 class="title">企業目標<small>Lodestar for operation</small></h4>
            <p><strong>永續經營</strong><br>Perpetual Operation</p>
        </section>
    </article>

    <section class="row">

        <article class="milestone">
            <h3 class="title">公司沿革<small>Milestones</small></h3>
            <ul class="list-unstyled">
                <li>
                    <em>民國97年 (2008)</em>
                    公司成立於  台灣省 桃園縣。資本額新台幣伍佰萬元整。<br>
                    The company had been established in Taiwan Taoyuan county. Capital volume ：NT$ Five Million Yuan.
                </li>
                <li>
                    <em>民國99年 (2010)</em>
                    為因應市場及客戶需求,新設立線材組事業部。
                </li>
                <li>
                    <em>民國100年 (2011)</em>
                    為因應市場及客戶需求,新設立釹鐵硼磁鐵事業部。
                </li>
            </ul>
        </article>

        <article class="operation">
            <h3 class="title">營運概況<small>Operation</small></h3>
            <h4 class="title">經營項目：</h4>
            <ol class="list-unstyled">
                <li>
                    <strong>各種電子組件之製造加工及買賣。</strong><br>
                    Manufacturing, processing and trading of various electronic components.
                </li>
                <li>
                    <strong>積層晶片電感、積層晶片變壓器、 積層晶片濾波器之製造加工及買賣。</strong><br>
                    Manufacturing, processing and trading of multilayer chip inductors, multilayer chip transformers and multilayer chip filters.
                </li>
                <li>
                    <strong>積層電阻式電感之製造加工及買賣。</strong><br>
                    Manufacturing, processing and trading of multilayer resistor type inductor.
                </li>
                <li>
                    <strong>前項產品之買賣及進出口貿易。</strong><br>
                    Importation and exportation of aforementioned products.
                </li>
            </ol>
        </article>

        <article class="quality">
            <h3 class="title">品質保證<small>Quality Assurance</small></h3>
            <ul class="list-unstyled">
                <li>
                    <figure>
                        <img src="~/Content/images/AboutUs/iso9001.jpg" alt="">
                        <figcaption>ISO 9001</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/images/AboutUs/ts16949.jpg" alt="">
                        <figcaption>TS 16949</figcaption>
                    </figure>
                </li>
            </ul>
        </article>

        <article class="environment">
            <h3 class="title">環境品質政策<small>Environment Quality Policy</small></h3>
            <ul class="list-unstyled">
                <li>
                    <figure>
                        <img src="~/Content/images/AboutUs/iso14001.jpg" alt="">
                        <figcaption>ISO 14001</figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="~/Content/images/AboutUs/sgs.jpg" alt="">
                        <figcaption>SGS Test Report</figcaption>
                    </figure>
                </li>
            </ul>
            <p>防制污染-持續改善、提供服務-環保產品、節約能源-維護地球、踏實經營-綠色企業</p>
        </article>

    </section>

</section>

</div>