@model IList<ProcCore.Business.DB0.m_News>
@{
    ViewBag.Title = "最新消息";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">最新消息</h3>

@foreach (var item in Model)
{
    <article class="news-article">
        <h4 class="title"><em>@item.news_date.ToString("yyyy/MM/dd")</em>@item.news_title</h4>
        <p class="excerpt">
            @if (item.news_content.Length>=63)
            {
                @item.news_content.Substring(0, 63) 
            }
            else
            {
               @item.news_content
            }           
        </p>@* 節錄前63個字 *@
        <p class="more"><a href="~/News/content?id=@item.news_id" class="btn">Read More &gt;&gt;</a></p>
    </article>
}

    @* <ul class="pager">
        <li><a href="">&lt;&lt;<em>第一頁</em></a></li>
        <li><a href="">&lt;<em>上一頁</em></a></li>
        <li>第 1 頁</li>
        <li><a href=""><em>下一頁</em>&gt;</a></li>
        <li><a href=""><em>最後頁</em>&gt;&gt;</a></li>
    </ul> *@