@{
    ViewBag.Title = "優良品質";
    ViewBag.Title2 = @ViewBag.Title;
    ViewBag.BodyClass = "Quality";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">
    業界無可比擬的高品質
</h3>

<h4 class="title">生物醫學博士、美容醫學專科醫師－鄭博士</h4>
<ol class="certification list-inline">
    <li>
        <a href="~/Content/images/Quality/pic2-1.jpg" target="new"><img src="~/Content/images/Quality/pic2-1.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-2.jpg" target="new"><img src="~/Content/images/Quality/pic2-2.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-3.jpg" target="new"><img src="~/Content/images/Quality/pic2-3.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-4.jpg" target="new"><img src="~/Content/images/Quality/pic2-4.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-5.jpg" target="new"><img src="~/Content/images/Quality/pic2-5.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-6.jpg" target="new"><img src="~/Content/images/Quality/pic2-6.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic2-7.jpg" target="new"><img src="~/Content/images/Quality/pic2-6.jpg" alt=""></a>
    </li>
</ol>

<h4 class="title">ISO 9001 國際標準組織認證技術</h4>
<ol class="certification list-inline">
    <li>
        <a href="~/Content/images/Quality/pic1-1.jpg" target="new"><img src="~/Content/images/Quality/pic1-1.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic1-2.jpg" target="new"><img src="~/Content/images/Quality/pic1-2.jpg" alt=""></a>
    </li>
</ol>

<h4 class="title">檢驗報告</h4>
<ol class="certification list-inline">
    <li>
        <a href="~/Content/images/Quality/pic3-1.jpg" target="new"><img src="~/Content/images/Quality/pic3-1.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic3-2.jpg" target="new"><img src="~/Content/images/Quality/pic3-2.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic3-3.jpg" target="new"><img src="~/Content/images/Quality/pic3-3.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic3-4.jpg" target="new"><img src="~/Content/images/Quality/pic3-4.jpg" alt=""></a>
    </li>
    <li>
        <a href="~/Content/images/Quality/pic3-5.jpg" target="new"><img src="~/Content/images/Quality/pic3-5.jpg" alt=""></a>
    </li>
</ol>

<h4 class="title">投保產品責任險</h4>
<ol class="certification list-inline">
    <li>
        <a href="~/Content/images/Quality/pic4-1.jpg" target="new"><img src="~/Content/images/Quality/pic4-1.jpg" alt=""></a>
    </li>
</ol>