@{
    ViewBag.Title = "聯絡我們";
    ViewBag.Title2 = @ViewBag.Title;
    ViewBag.BodyClass = "ContactUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">
    歡迎您透過下列方式與我們聯絡，我們將竭誠為您服務。
</h3>

<dl class="contact-info row">
    <dt class="col-5">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d697.2651117532727!2d121.24651940801147!3d24.96734256461481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3468221bec316d91%3A0x9e9f8265110f8e80!2zMzIw5qGD5ZyS5biC5Lit5aOi5Y2A5Lit6I-v6Lev5LiA5q61ODA15be3!5e0!3m2!1szh-TW!2stw!4v1447128568083" allowfullscreen></iframe>
    </dt>
    <dd class="col-7">
        <h4 class="title">潔芙丹妮生物科技有限公司</h4>
        <ul class="list-unstyled">
            <li><em>地址</em>桃園市中壢區中華路一段805巷28弄6號</li>
            <li><em>電話</em>0930-125613 (台灣) / 187-8292-0323 (中國)</li>
            <li><em>E-mail</em><a href="mailto:aguo0923@gmail.com">aguo0923@gmail.com</a></li>
            <li><em>App</em><span class="wechat">微信 ID: swag612923</span><span class="line">LINE ID: swag612923</span></li>
            <li><em>Facebook</em><a href="https://www.facebook.com/909374702484023/" target="new">J+D 醫學美容級專業面膜</a></li>
        </ul>
    </dd>
</dl>