@charset "UTF-8";

// == config
// ----------------------------------------------------------------------
$img-path:              '../images' !default;
$font-path:             '../font' !default;
$lte7:                  false !default;           // 是否兼容IE6-7
$states:                true !default;           // 情境文字是否輸出


// == color
// ----------------------------------------------------------------------
// 語義色
$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%);   // #222
$gray-dark:             lighten($gray-base, 20%);     // #333
$gray:                  lighten($gray-base, 33.5%);   // #555
$gray-light:            lighten($gray-base, 46.7%);   // #777
$gray-lighter:          lighten($gray-base, 93.5%);   // #eee

// 抽象色
$brand-primary:         #56901B;             // 主色
$brand-secondary:       #6DB831;             // 輔色
$success:               #CAD72F !default;             // 綠
$info:                  #37BCEE !default;             // 藍
$warning:               #F2B63D !default;             // 黃
$error:                 #E75375 !default;             // 紅


// == basic
// ----------------------------------------------------------------------
// <body> 背景 & 文字色
$body-bg:               #2b5114 !default;
$text-color:            #5A5B5B !default;

// 文字鏈結色&滑鼠移過色
$link-color:            $info;
$link-hover-color:      $brand-secondary !default;

// layout
$min-width:             1008px !default;     // 網頁最小尺寸
$max-width:             1440px !default;     // 網頁最寬尺寸: .wrap
$pages:                 'index';

// gird
$cols:                  12 !default;
$gutter:                15px !default;


// == font
// ----------------------------------------------------------------------
// 微軟正黑體
$font-family-base:      'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif !default;
$font-sp:               MElleHK, 'Microsoft Jhenghei', \5FAE\8EDF\6B63\9ED1\9AD4, Helvetica, Arial, sans-serif !default;

$font-size-base:        16px !default;
$font-size-lg:          $font-size-base * 1.25 !default;     // 20px
$font-size-sm:          $font-size-base * 0.85 !default;     // 13px

$line-height-base:      1.25 !default;                       // 20px/16px
$line-height-lg:        1.33 !default;
$line-height-sm:        1.5 !default;
$line-height-computed:  $font-size-base * $line-height-base; // 20px 用在 margin, padding, etc.

$font-size-h1:          $font-size-base * 2.25 !default;
$font-size-h2:          $font-size-base * 1.875 !default;
$font-size-h3:          $font-size-base * 1.5 !default;
$font-size-h4:          $font-size-base * 1.125 !default;
$font-size-h5:          $font-size-base !default;
$font-size-h6:          $font-size-base * 0.875 !default;

$heading-font-family:   inherit !default;
$heading-font-weight:   500 !default;
$heading-line-height:   1.1 !default;

$heading-color:         $brand-primary !default;
$heading-small-color:   desaturate($heading-color, 20%) !default;


// == Components
// ----------------------------------------------------------------------
// 表單元素(停用)上的滑鼠樣式
$cursor-disabled:           not-allowed;

// text bg
$common-active:             #fff $brand-primary;
$caret-width:               4px 5px;

// base large small
$padding-vertical:          2px 5px 1px;
$padding-horizontal:        4px 10px 3px;
$border-radius:             5px 15px 3px;

// 配色- 三值分別為: 本文色 背景色 邊框色
// 情境狀態 + 配色
$state-type: (
    // primary:                $brand-primary,
    grays:                  lighten($gray,27%),
    // success:                $success,
    // info:                   $info,
    // warn:                   $warning,
    // error:                  $error,
    green:                  #6DB831,
    white:                  #fff
);

$table-color: (
    table-bg:               #96D7E7,
    table-bg-accent:        #f9f9f9,
    table-bg-hover:         #D6FAFC,
    table-bg-active:        #D6FAFC,
    table-border:           #96D7E7,
    table-th:               $text-color,
    table-td:               $text-color,
    table-caption:          #fff,
);

$form-color:(
    input-bg:               #fff,
    input-bg-disabled:      $gray-lighter,
    input-color:            $gray,
    input-border:           #ccc,
    input-border-focus:     #66afe9,
    input-placeholder:      #999,
    input-addon-bg:         $gray-lighter,
    input-addon-border:     #ccc
);

// 合併配色
// $color: map-merge($state-type, $table-color);
$color: map-extend($state-type, $table-color, $form-color);



// == media RWD
// ----------------------------------------------------------------------

// 中斷點
$breakpoints: (
    xs:  320px,     // Extra small screen / phone
    sm:  544px,   // Small screen / phone
    md:  768px,   // Medium screen / tablet
    lg:  992px,   // Large screen / desktop
    lg2: 1280px,  // Large screen / desktop
    xl:  1400px   // Extra large screen / wide desktop
);

// 容器寬度
$wrap-widths: (
    xxs: 320px,
    xs:  480px,
    sm:  720px,
    md:  960px,
    lg:  1008px,
    xl:  1440px
);

// media queries
$medias: (
    xss:      (max-width: break(xs)),
    xs:       (max-width: break(sm)),

    sm:       (max-width: break(md)),
    sm-min:   (min-width: break(sm)),

    md:       (max-width: break(lg)-1),
    md-min:   (min-width: break(md)),

    lg:       (max-width: break(xl)-1),
    lg-min:   (min-width: break(lg)),

    xl:       (min-width: break(xl)),

    md2:      (max-width: break(lg2)-1),
);


// == z-index
// ----------------------------------------------------------------------
$z-index: (
    header:     2,
    main:       1,
    footer:     3,
    banner:     4,
    logo:       50,
    menu:       60,
    goTop:      70,
    dropdown:   80,
    tooltip:    90,
    modal:      1000,
    overlay:    1001
);