@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  height: 100%;
}

body {
  background: #fff;
  color: #635E5A;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

a {
  color: #C1931E;
  text-decoration: none;
  transition: all .35s ease;
}
a:hover, a.active {
  color: #ab821b;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}
h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
}

h2, h3 {
  margin-bottom: 0.625em;
}
h2 small, h3 small {
  font-size: 65%;
}

h4, h5, h6 {
  margin-bottom: 0.625em;
}
h4 small, h5 small, h6 small {
  font-size: 75%;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  margin: 0 0 0.625em;
  line-height: 1.5;
}

small {
  font-size: 85%;
}

mark {
  background-color: #ffe595;
  padding: .2em;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9;
}

ul, ol {
  margin-bottom: 10px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

dl {
  margin-bottom: 20px;
}

dt, dd {
  line-height: 1.25;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25;
}

#header::after, #footer::after, #main::after, #content::after, .wrap::after, #banner .pro::after, .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 46.9%;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.circle {
  border-radius: 50%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.list-inline, .list-unstyled, #banner ul {
  list-style: none;
}

.list-inline {
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  letter-spacing: 0.258em;
}
.logo em {
  display: block;
  font-style: normal;
  letter-spacing: 0.243em;
}

.border {
  border: 1px solid #DBD2CC;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  background: #E0C98E;
  border-radius: 0;
  border: 0;
  color: #fff;
  font-size: 1.125em;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  transition: background 0.3s;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:active {
  background: #C2AB6F;
  color: #fff;
}
.btn:active, .btn.active {
  outline: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}

/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #banner .pro, #header, #footer, #main, #content {
  position: relative;
}

#wrapper, .wrap, #banner .pro, #footer {
  margin: 0 auto;
}

@media all and (max-width: 544px) {
  #header, #footer, #main, #content {
    min-width: 320px;
  }
}

#wrapper {
  min-height: 100%;
  padding-bottom: 300px;
}

@media all and (min-width: 1440px) {
  .wrap, #banner .pro {
    width: 1400px;
  }
}
@media all and (max-width: 1439px) {
  .wrap, #banner .pro {
    width: 1008px;
  }
}
@media all and (max-width: 991px) {
  .wrap, #banner .pro {
    width: 960px;
  }
}
@media all and (max-width: 768px) {
  .wrap, #banner .pro {
    width: 720px;
  }
}
@media all and (max-width: 544px) {
  .wrap, #banner .pro {
    width: 480px;
  }
}

#header {
  height: 60px;
  z-index: 2;
}
#header .logo {
  height: 100%;
  width: 238px;
  z-index: 50;
  font-size: 1em;
  float: left;
  padding: 10px 0;
}
#header .logo a {
  display: block;
  height: 40px;
  background: url(../images/logo.png) left center no-repeat;
  background-size: auto 100%;
  font-size: 0.75em;
  letter-spacing: 0.258em;
  color: #C1761E;
  padding-left: 115px;
}
#header .logo a em {
  font-size: 1.16667em;
  margin-bottom: 4px;
}

.menu-trigger {
  display: none;
}

#menu {
  text-align: right;
}
#menu .toggle {
  display: none;
}
#menu a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #5C5040;
  letter-spacing: 0.1em;
  padding: 0 20px;
  transition: background 0.3s;
}
#menu a:hover, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .Quality #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
  background: #F6EFCB;
  color: #ab821b;
  font-weight: bold;
}

#footer {
  background: url(../images/bgFooter.gif) no-repeat center top;
  border-top: 3px solid #D6B65C;
  margin-top: -300px;
  height: 300px;
  z-index: 3;
  color: #C1931E;
}
@media all and (max-width: 768px) {
  #footer {
    margin-top: -100px;
    height: 100px;
  }
}
#footer .logo {
  width: 265px;
  height: 65px;
  background: url(../images/logo2.gif) no-repeat left center;
  background-size: auto 100%;
  color: #9C5F18;
  font-size: 0.89688em;
  text-align: left;
  position: absolute;
  left: 295px;
  top: 40px;
  padding: 8px 0 8px 120px;
}
#footer .logo em {
  font-size: 1.15261em;
}

.contact {
  float: right;
  margin-top: 28px;
}
.contact li {
  height: 80px;
  float: left;
  margin-left: 4px;
}
.contact li a {
  background-attachment: fixed;
  background: url(../images/navFooter.gif) 0 0 no-repeat;
  font: 0/0 a;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 20px;
}
.contact li a:hover, .contact li a:focus {
  background-position: 0 -80px;
}
.contact li:first-child {
  margin-right: 4px;
}
.contact li:last-child a {
  background-position: -51px 0;
}
.contact li:last-child a:hover, .contact li:last-child a:focus {
  background-position: -51px -80px;
}

.mit {
  height: 122px;
  background: url(../images/mit.gif) no-repeat 78px 37px;
  font-size: 1.4025em;
  letter-spacing: 0.243em;
  position: absolute;
  right: 0;
  top: 150px;
}
.mit em {
  display: block;
  font-style: normal;
  font-size: 1.21925em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 30px;
}
.mit em span {
  margin: 0 8px;
}

.copyright {
  font-size: 0.75em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: absolute;
  left: 137px;
  top: 210px;
}

.goTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  width: 40px;
  height: 40px;
  background: #D6B65C;
  color: #fff;
  line-height: 1.1;
  padding-top: 19px;
  display: none;
  z-index: 70;
  transition: background 0.3s;
}
.goTop::before {
  content: '';
  display: inline-block;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  border-bottom-width: 8px;
  border-top-width: 4px;
  position: absolute;
  top: 4px;
  left: 50%;
  content: '';
  margin-left: -6px;
}
.goTop:hover, .goTop:active {
  opacity: 1;
  color: #fff;
  background: #C1931E;
}

#header {
  background: rgba(255, 255, 255, 0.5);
}

#banner {
  height: 800px;
  margin-top: -60px;
}
#banner ul {
  height: 100%;
}
#banner ul .i1 {
  height: 100%;
  background: url(../images/index/banner1.jpg) no-repeat center top;
  text-align: left;
}
#banner ul li h2 {
  color: #fff;
  font-size: 2.25em;
  letter-spacing: 0.2em;
  line-height: 140%;
  position: absolute;
  top: 222px;
  right: 40px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#banner ul li .btn {
  position: absolute;
  top: 346px;
  right: 233px;
  background: rgba(194, 148, 30, 0.5);
}
#banner ul li .btn:hover, #banner ul li .btn:focus {
  background: rgba(150, 114, 23, 0.5);
}
#banner .pro {
  margin-top: -345px;
}
#banner .pro a {
  display: block;
  width: 380px;
  height: 260px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  position: absolute;
  right: 0;
  padding: 10px;
}
#banner .pro a::before {
  content: " ";
  display: block;
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  position: absolute;
  left: 10px;
  top: 10px;
  background: #C1931E;
  opacity: 0;
  transition: opacity 0.5s;
}
#banner .pro a .btn {
  position: absolute;
  top: 45px;
  right: 8px;
}
#banner .pro a:hover::before {
  opacity: 0.25;
}
#banner .pro a:hover .btn {
  background: #C2AB6F;
}
