@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
/*      basic elements
-----------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  height: 100%;
}

body {
  background: #fff;
  color: #635E5A;
  font-family: "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}
@media all and (max-width: 767px) {
  body {
    background: #D6B65C;
  }
}

a {
  color: #C1931E;
  text-decoration: none;
  transition: all .35s ease;
}
a:hover, a.active {
  color: #ab821b;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.1;
}
h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
}

h2, h3 {
  margin-bottom: 0.625em;
}
h2 small, h3 small {
  font-size: 65%;
}

h4, h5, h6 {
  margin-bottom: 0.625em;
}
h4 small, h5 small, h6 small {
  font-size: 75%;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.875em;
}

p {
  margin: 0 0 0.625em;
  line-height: 1.5;
}

small {
  font-size: 85%;
}

mark {
  background-color: #ffe595;
  padding: .2em;
}

hr {
  height: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #f9f9f9;
}

ul, ol {
  margin-bottom: 10px;
}
ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
}

dl {
  margin-bottom: 20px;
}

dt, dd {
  line-height: 1.25;
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.25;
}

.row::after, .pro-detail .sell-info::after, #header::after, #footer::after, #main::after, #content::after, .wrap::after, #banner h2.title::after, #banner p::after, .pro-detail .feature figure::after, .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.full {
  width: 100%;
  max-width: 100%;
}

.half {
  width: 46.9%;
}

.float-l {
  float: left !important;
}

.float-r {
  float: right !important;
}

.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

.clear {
  clear: both;
}

.hidden {
  display: none;
}

.circle {
  border-radius: 50%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.list-inline, .breadcrumb, .list-unstyled, .list-arrow {
  list-style: none;
}

.list-inline, .breadcrumb {
  margin-left: -5px;
}
.list-inline > li, .breadcrumb > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  letter-spacing: 0.258em;
}
.logo em {
  display: block;
  font-style: normal;
  letter-spacing: 0.243em;
}

.border, .thumb, .feature img, .pro a img, .pro-detail .steps li figure, ol.certification li img, .contact-info dt .map {
  border: 1px solid #DBD2CC;
}

.thumb {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  background: #E0C98E;
  border-radius: 0;
  border: 0;
  color: #fff;
  font-size: 1.125em;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  transition: background 0.3s;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover, .btn:active {
  background: #C2AB6F;
  color: #fff;
}
.btn:active, .btn.active {
  outline: 0;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: .65;
}

.row, .pro-detail .sell-info {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.col-1 {
  width: 8.33333%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-2 {
  width: 16.66667%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-3, .pro-detail .sell-info dt {
  width: 25%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-4, .prolist li {
  width: 33.33333%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-5 {
  width: 41.66667%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-6, .pro-intro dt, .pro-intro dd {
  width: 50%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-7 {
  width: 58.33333%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-8 {
  width: 66.66667%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-9, .pro-detail .sell-info dd {
  width: 75%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-10 {
  width: 83.33333%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-11 {
  width: 91.66667%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.col-12 {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

@media all and (min-width: 1440px) {
  .col-xl-1 {
    width: 8.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-2 {
    width: 16.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-3 {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-4 {
    width: 33.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-5 {
    width: 41.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-6 {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-7 {
    width: 58.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-8 {
    width: 66.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-9 {
    width: 75%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-10 {
    width: 83.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xl-12 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media all and (min-width: 1040px) {
  .col-lg-1 {
    width: 8.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-2 {
    width: 16.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-4 {
    width: 33.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-5 {
    width: 41.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-7 {
    width: 58.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-8 {
    width: 66.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-10 {
    width: 83.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-lg-12 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media all and (max-width: 991px) {
  .col-sm-1 {
    width: 8.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-2 {
    width: 16.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-3 {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-4 {
    width: 33.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-5 {
    width: 41.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-8 {
    width: 66.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-9 {
    width: 75%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-10 {
    width: 83.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-sm-12 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media all and (max-width: 767px) {
  .col-xs-1 {
    width: 8.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-2 {
    width: 16.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-3 {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-4 {
    width: 33.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-5 {
    width: 41.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-6 {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-7 {
    width: 58.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-8 {
    width: 66.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-9 {
    width: 75%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-10 {
    width: 83.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xs-12 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
@media all and (max-width: 543px) {
  .col-xxs-1 {
    width: 8.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-2 {
    width: 16.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-3 {
    width: 25%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-4 {
    width: 33.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-5 {
    width: 41.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-6 {
    width: 50%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-7 {
    width: 58.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-8 {
    width: 66.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-9 {
    width: 75%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-10 {
    width: 83.33333%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }

  .col-xxs-12, .prolist li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.offset-12 {
  margin-left: 100%;
}

@media all and (min-width: 1440px) {
  .offset-xl-0 {
    margin-left: 0%;
  }

  .offset-xl-1 {
    margin-left: 8.33333%;
  }

  .offset-xl-2 {
    margin-left: 16.66667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.33333%;
  }

  .offset-xl-5 {
    margin-left: 41.66667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.33333%;
  }

  .offset-xl-8 {
    margin-left: 66.66667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.33333%;
  }

  .offset-xl-11 {
    margin-left: 91.66667%;
  }

  .offset-xl-12 {
    margin-left: 100%;
  }
}
@media all and (min-width: 1040px) {
  .offset-lg-0 {
    margin-left: 0%;
  }

  .offset-lg-1 {
    margin-left: 8.33333%;
  }

  .offset-lg-2 {
    margin-left: 16.66667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.33333%;
  }

  .offset-lg-5 {
    margin-left: 41.66667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.33333%;
  }

  .offset-lg-8 {
    margin-left: 66.66667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.33333%;
  }

  .offset-lg-11 {
    margin-left: 91.66667%;
  }

  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 991px) {
  .offset-sm-0 {
    margin-left: 0%;
  }

  .offset-sm-1 {
    margin-left: 8.33333%;
  }

  .offset-sm-2 {
    margin-left: 16.66667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.33333%;
  }

  .offset-sm-5 {
    margin-left: 41.66667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.33333%;
  }

  .offset-sm-8 {
    margin-left: 66.66667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.33333%;
  }

  .offset-sm-11 {
    margin-left: 91.66667%;
  }

  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 767px) {
  .offset-xs-0 {
    margin-left: 0%;
  }

  .offset-xs-1 {
    margin-left: 8.33333%;
  }

  .offset-xs-2 {
    margin-left: 16.66667%;
  }

  .offset-xs-3 {
    margin-left: 25%;
  }

  .offset-xs-4 {
    margin-left: 33.33333%;
  }

  .offset-xs-5 {
    margin-left: 41.66667%;
  }

  .offset-xs-6 {
    margin-left: 50%;
  }

  .offset-xs-7 {
    margin-left: 58.33333%;
  }

  .offset-xs-8 {
    margin-left: 66.66667%;
  }

  .offset-xs-9 {
    margin-left: 75%;
  }

  .offset-xs-10 {
    margin-left: 83.33333%;
  }

  .offset-xs-11 {
    margin-left: 91.66667%;
  }

  .offset-xs-12 {
    margin-left: 100%;
  }
}
@media all and (max-width: 543px) {
  .offset-xxs-0 {
    margin-left: 0%;
  }

  .offset-xxs-1 {
    margin-left: 8.33333%;
  }

  .offset-xxs-2 {
    margin-left: 16.66667%;
  }

  .offset-xxs-3 {
    margin-left: 25%;
  }

  .offset-xxs-4 {
    margin-left: 33.33333%;
  }

  .offset-xxs-5 {
    margin-left: 41.66667%;
  }

  .offset-xxs-6 {
    margin-left: 50%;
  }

  .offset-xxs-7 {
    margin-left: 58.33333%;
  }

  .offset-xxs-8 {
    margin-left: 66.66667%;
  }

  .offset-xxs-9 {
    margin-left: 75%;
  }

  .offset-xxs-10 {
    margin-left: 83.33333%;
  }

  .offset-xxs-11 {
    margin-left: 91.66667%;
  }

  .offset-xxs-12 {
    margin-left: 100%;
  }
}
/*      layout
-----------------------------------------------------------------------*/
#wrapper, .wrap, #banner h2.title, #banner p, #header, #footer, #main, #content {
  position: relative;
}

#wrapper, .wrap, #banner h2.title, #banner p, #footer {
  margin: 0 auto;
}

#header, #footer, #main, #content {
  min-width: 320px;
}

#wrapper {
  min-height: 100%;
  padding-bottom: 375px;
}
@media all and (max-width: 767px) {
  #wrapper {
    min-height: auto;
    background: #fff;
    padding-bottom: 268px;
  }
}
@media all and (max-width: 543px) {
  #wrapper {
    padding-bottom: 408px;
  }
}

@media all and (min-width: 768px) {
  .wrap, #banner h2.title, #banner p {
    width: 720px;
  }
}
@media all and (min-width: 992px) {
  .wrap, #banner h2.title, #banner p {
    width: 960px;
  }
}
@media all and (min-width: 1040px) {
  .wrap, #banner h2.title, #banner p {
    width: 1008px;
  }
}
@media all and (min-width: 1440px) {
  .wrap, #banner h2.title, #banner p {
    width: 1400px;
  }
}
@media all and (max-width: 767px) {
  .wrap, #banner h2.title, #banner p {
    width: 100%;
    padding: 0 10px;
  }
}

#header {
  height: 60px;
  z-index: 2;
}
#header .logo {
  height: 100%;
  width: 238px;
  z-index: 50;
  font-size: 1em;
  float: left;
  padding: 10px 0;
}
#header .logo a {
  display: block;
  height: 40px;
  background: url(../images/logo.png) left center no-repeat;
  background-size: auto 100%;
  font-size: 0.75em;
  letter-spacing: 0.258em;
  color: #C1761E;
  padding-left: 115px;
}
#header .logo a em {
  font-size: 1.16667em;
  margin-bottom: 4px;
}

.menu-trigger {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background: url(../images/iconMenuBar.gif) no-repeat center center #C49534;
  border: 0;
  float: right;
}
@media all and (max-width: 767px) {
  .menu-trigger {
    display: block;
  }
}

#menu {
  text-align: right;
}
#menu a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #5C5040;
  letter-spacing: 0.1em;
  padding: 0 20px;
  transition: background 0.3s;
}
#menu a:hover, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .Quality #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
  background: #F6EFCB;
  color: #ab821b;
  font-weight: bold;
}
@media all and (max-width: 991px) {
  #menu a {
    padding: 0 10px;
  }
}
@media all and (max-width: 767px) {
  #menu {
    display: none;
    background: #C49534;
    width: calc(100% - 20px);
    text-align: center;
    position: absolute;
    left: 10px;
    top: 60px;
  }
  #menu a {
    height: auto;
    color: #fff;
    line-height: 1;
    position: relative;
    padding: 15px;
  }
  #menu a:hover, .AboutUs #menu a:nth-of-type(1), .News #menu a:nth-of-type(2), .Products #menu a:nth-of-type(3), .Quality #menu a:nth-of-type(4), .ContactUs #menu a:nth-of-type(5) {
    background: #d8b56c;
    color: #fff;
    font-weight: normal;
  }
}
@media all and (max-width: 543px) {
  #menu {
    text-align: left;
  }
  #menu a {
    display: block;
  }
  #menu a::after {
    content: '';
    display: inline-block;
    border: 4px solid transparent;
    width: 0;
    height: 0;
    border-left-color: #957117;
    border-left-width: 6px;
    border-right-width: 2px;
    display: block;
    content: " ";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

#footer {
  background: url(../images/bgFooter.gif) no-repeat center top;
  border-top: 3px solid #D6B65C;
  margin-top: -300px;
  height: 300px;
  z-index: 3;
  color: #C1931E;
}
@media all and (min-width: 1440px) {
  #footer {
    background-position: -210px 0;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  #footer::after {
    content: " ";
    display: block;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

@media all and (max-width: 767px) {
  #footer {
    height: 238px;
    background: none;
    margin-top: -238px;
    padding: 15px 0;
  }
}
@media all and (max-width: 543px) {
  #footer {
    height: 378px;
    margin-top: -378px;
  }
}
#footer .logo {
  width: 265px;
  height: 65px;
  background: url(../images/logo2.gif) no-repeat left center;
  background-size: auto 100%;
  color: #9C5F18;
  font-size: 0.89688em;
  text-align: left;
  position: absolute;
  left: 295px;
  top: 40px;
  padding: 8px 0 8px 120px;
}
#footer .logo em {
  font-size: 1.15261em;
}
@media all and (min-width: 1440px) {
  #footer .logo {
    left: 300px;
  }
}
@media all and (max-width: 1039px) {
  #footer .logo {
    left: 265px;
  }
}
@media all and (max-width: 991px) {
  #footer .logo {
    left: 140px;
  }
}
@media all and (max-width: 767px) {
  #footer .logo {
    position: static;
    float: right;
  }
}
@media all and (max-width: 543px) {
  #footer .logo {
    float: none;
    margin: 0 auto;
  }
}

.contact {
  width: 296px;
  float: right;
  margin-top: 28px;
}
.contact li {
  height: 80px;
  float: left;
  margin-left: 4px;
}
.contact li a {
  background-attachment: fixed;
  background: url(../images/navFooter.gif) 0 0 no-repeat;
  font: 0/0 a;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  display: block;
  margin-top: 20px;
}
.contact li a:hover, .contact li a:focus {
  background-position: 0 -80px;
}
.contact li:last-child a {
  background-position: -51px 0;
}
.contact li:last-child a:hover, .contact li:last-child a:focus {
  background-position: -51px -80px;
}
@media all and (max-width: 767px) {
  .contact {
    width: 272px;
    margin-top: 10px;
    clear: both;
  }
  .contact li {
    padding: 0 2px;
  }
}
@media all and (max-width: 543px) {
  .contact {
    width: 296px;
    float: none;
    margin: 15px auto 0 auto;
  }
}

.mit {
  width: 221px;
  height: 122px;
  background: url(../images/mit.gif) no-repeat 78px 37px;
  font-size: 1.4025em;
  letter-spacing: 0.243em;
  position: absolute;
  right: 0;
  top: 150px;
}
.mit em {
  display: block;
  font-style: normal;
  font-size: 1.21925em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  margin-top: 30px;
}
.mit em span {
  margin: 0 8px;
}
@media all and (min-width: 1440px) {
  .mit {
    right: 30px;
  }
}
@media all and (max-width: 767px) {
  .mit {
    position: static;
    float: left;
    margin-top: -60px;
  }
}
@media all and (max-width: 543px) {
  .mit {
    height: 140px;
    position: absolute;
    top: 180px;
    left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
  }
}

.copyright {
  width: 140px;
  font-size: 0.75em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  position: absolute;
  left: 137px;
  top: 210px;
}
@media all and (min-width: 1440px) {
  .copyright {
    left: 90px;
  }
}
@media all and (max-width: 1039px) {
  .copyright {
    left: 70px;
  }
}
@media all and (max-width: 991px) {
  .copyright {
    left: 0;
    top: 200px;
  }
}
@media all and (max-width: 767px) {
  .copyright {
    width: 100%;
    height: 40px;
    background: #D6B65C;
    color: #fff;
    text-align: left;
    left: 0;
    top: 180px;
    padding: 10px;
  }
}
@media all and (max-width: 543px) {
  .copyright {
    top: 320px;
  }
}

.goTop {
  position: fixed;
  right: 1%;
  bottom: 1%;
  width: 40px;
  height: 40px;
  background: #D6B65C;
  color: #fff;
  line-height: 1.1;
  padding-top: 19px;
  display: none;
  z-index: 70;
  transition: background 0.3s;
}
.goTop::before {
  content: '';
  display: inline-block;
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  border-bottom-width: 8px;
  border-top-width: 4px;
  position: absolute;
  top: 4px;
  left: 50%;
  content: '';
  margin-left: -6px;
}
.goTop:hover, .goTop:active {
  opacity: 1;
  color: #fff;
  background: #C1931E;
}
@media all and (max-width: 767px) {
  .goTop {
    bottom: 0;
    opacity: 0.7;
  }
  .goTop:hover, .goTop:active {
    opacity: 1;
  }
}

/*      main
-----------------------------------------------------------------------*/
h3.title {
  color: #C1761E;
  font-size: 1.875em;
  letter-spacing: 0.1em;
  margin-bottom: 35px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E0B44E;
}
@media all and (max-width: 543px) {
  h3.title {
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
}

h4.title {
  color: #8C5616;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

h5.title {
  color: #B0452F;
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: 0.1em;
}

.list-dashed li, .info li, .pro-detail .sell-info dd ul li, .contact-info dd ul li {
  border-bottom: 1px dashed #C4C2BA;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.list-arrow li {
  margin-left: 20px;
  text-indent: -20px;
}
.list-arrow li::before {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-left-color: #E3C97D;
  border-left-width: 8px;
  border-right-width: 2px;
  margin-right: 10px;
}

#content {
  text-align: left;
}

#banner {
  height: 280px;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  color: #fff;
  text-align: right;
  margin-bottom: 40px;
}
.AboutUs #banner {
  background: url(../images/AboutUs/banner.jpg) no-repeat center top;
}
.News #banner {
  background: url(../images/News/banner.jpg) no-repeat center top;
}
.Products #banner {
  background: url(../images/Products/banner.jpg) no-repeat center top;
}
.Quality #banner {
  background: url(../images/Quality/banner.jpg) no-repeat center top;
}
.ContactUs #banner {
  background: url(../images/ContactUs/banner.jpg) no-repeat center top;
}
@media all and (max-width: 767px) {
  #banner {
    clear: both;
  }
}
@media all and (max-width: 543px) {
  #banner {
    height: 180px;
    margin-bottom: 0;
  }
}
#banner h2.title {
  font-size: 3.4375em;
  letter-spacing: 0.1em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-top: 143px;
}
@media all and (max-width: 543px) {
  #banner h2.title {
    font-size: 3.125em;
    margin-top: 100px;
  }
}
#banner p {
  letter-spacing: 0.07em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: -160px;
}
@media all and (max-width: 543px) {
  #banner p {
    font-size: 0.875em;
    letter-spacing: 0;
    opacity: 0.5;
    margin-top: -145px;
  }
}

.breadcrumb {
  float: right;
  margin-top: 15px;
}
@media all and (max-width: 543px) {
  .breadcrumb {
    float: none;
  }
}
.breadcrumb li {
  color: #C1761E;
  font-size: 0.75em;
  padding: 0 2px;
}
.breadcrumb li a {
  color: #C4BBB0;
}
.breadcrumb li a::after {
  content: "/";
  margin-left: 5px;
}
.breadcrumb li a:hover {
  color: #a39584;
}
.breadcrumb li:first-child a {
  padding-left: 18px;
  background: url(../images/iconHome.gif) no-repeat left center;
}

.feature img {
  display: block;
}

.info, .pro-detail .sell-info dd ul, .contact-info dd ul {
  margin-top: 10px;
}
.info li, .pro-detail .sell-info dd ul li, .contact-info dd ul li {
  padding-left: 5.6em;
  text-indent: -5.6em;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.info li em, .pro-detail .sell-info dd ul li em, .contact-info dd ul li em {
  font-weight: bold;
  font-style: normal;
  color: #693C0D;
}
.info li em::after, .pro-detail .sell-info dd ul li em::after, .contact-info dd ul li em::after {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-left-color: #E3C97D;
  border-left-width: 8px;
  border-right-width: 2px;
  margin: 0 10px;
}
.info li span, .pro-detail .sell-info dd ul li span, .contact-info dd ul li span {
  display: inline-block;
  min-height: 25px;
  background: url(../images/iconApp.gif) no-repeat;
  padding-left: 120px;
}
.info li span.wechat, .pro-detail .sell-info dd ul li span.wechat, .contact-info dd ul li span.wechat {
  background-position: 0 -54px;
}
.info li strong, .pro-detail .sell-info dd ul li strong, .contact-info dd ul li strong {
  color: #B0452F;
  letter-spacing: 0.1em;
}

ol.pic {
  margin-bottom: 15px;
}
@media all and (max-width: 543px) {
  ol.pic {
    margin-bottom: 5px;
  }
}

.news-article h4.title em {
  display: block;
  font-style: normal;
  font-size: 0.7em;
  color: #dfaf33;
  margin-bottom: 5px;
}
.news-article .excerpt {
  margin-bottom: 15px;
}
.news-article .more {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #C4C2BA;
}

.date {
  color: #ce9a5e;
  text-align: right;
  margin-top: -20px;
}

.back {
  float: right;
  margin-top: 30px;
}

.prolist {
  text-align: center;
}
.prolist li {
  float: none;
  display: inline-block;
  margin-right: -3px;
  margin-bottom: 30px;
}
@media all and (max-width: 543px) {
  .prolist li {
    display: block;
  }
}

.pro {
  text-align: center;
}
.pro a {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.pro a::after {
  content: " ";
  display: block;
  width: 100%;
  height: 0;
  background: #a5873a;
  opacity: 0.5;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height 0.3s;
}
.pro a .btn {
  background: none;
  border: 1px solid #fff;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: 90;
  transition: top 0.5s, opacity 0.3s;
}
.pro a:hover::after {
  height: 100%;
}
.pro a:hover .btn {
  top: 50%;
  opacity: 1;
}
.pro h4.title {
  display: inline-block;
  letter-spacing: 0.243em;
  margin-bottom: 0;
}
.pro.hot {
  position: relative;
}
.pro.hot::before {
  content: "HOT";
  display: block;
  width: 72px;
  height: 30px;
  background: #87CDD6;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-align: center;
  position: absolute;
  left: -8px;
  top: 23px;
  padding: 4px 0;
  z-index: 90;
}
.pro.hot::after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: 15px solid #87CDD6;
  border-width: 15px 8px 15px 0;
  border-right-color: transparent;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 63px;
  top: 23px;
  z-index: 90;
}
.pro.hot a::before {
  content: '';
  display: block;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-right-color: #298F9C;
  border-right-width: 8px;
  border-left-width: 2px;
  position: absolute;
  left: -10px;
  top: 49px;
  z-index: 89;
}
.pro.hot h4.title {
  color: #DE6107;
}
.pro.hot h4.title::before {
  background-attachment: fixed;
  background: url(../images/iconFeatured.gif) 0 0 no-repeat;
  font: 0/0 a;
  text-indent: -9999px;
  width: 26px;
  height: 19px;
  content: " ";
  display: inline-block;
  margin-right: 9px;
}

.pro-intro {
  margin-bottom: 35px;
}
.pro-intro dt {
  position: relative;
}
.pro-intro dt .point {
  width: 222px;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.pro-intro dt .point h5.title {
  font-size: 1.125em;
}
.pro-intro dt .point p {
  line-height: 120%;
  font-size: 0.875em;
  margin-bottom: 0;
}
.pro-intro dd h5.title {
  font-size: 1.125em;
  font-weight: normal;
  color: #693C0D;
}
.pro-intro dd ul.ingredient {
  border-top: 1px dashed #C4C2BA;
  border-bottom: 1px dashed #C4C2BA;
  margin-bottom: 15px;
  padding: 10px 0;
}
.pro-intro dd ul.ingredient li {
  text-indent: -18px;
  margin-bottom: 5px;
  padding-left: 18px;
}
.pro-intro dd ul.ingredient li::before {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  width: 0;
  height: 0;
  border-left-color: #E3C97D;
  border-left-width: 8px;
  border-right-width: 2px;
  margin-right: 10px;
}
.pro-intro dd .feature {
  text-align: center;
}
.pro-intro dd .feature img {
  margin: 0 auto 10px auto;
}

.pro-detail h4.title {
  color: #E0B44E;
  font-size: 2.125em;
  font-family: "Open Sans", "Microsoft Jhenghei", \5FAE\8EDF\6B63\9ED1\9AD4, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0;
  border-bottom: 1px solid;
}
.pro-detail h5.title {
  margin-top: 35px;
}
.pro-detail .steps li {
  font-size: 0.875em;
}
.pro-detail .steps li figure {
  text-align: center;
  margin-bottom: 8px;
}
.pro-detail .steps li em {
  display: block;
  font-style: normal;
  padding: 0 8px;
}
.pro-detail .feature {
  margin-top: 15px;
}
.pro-detail .feature h6.title {
  color: #693C0D;
  font-size: 1.125em;
}
.pro-detail .feature figure img {
  float: left;
  margin-right: 10px;
}
.pro-detail .sell-info dd ul li:first-child em {
  letter-spacing: 2em;
}
.pro-detail .sell-info dd ul li:first-child em::after {
  margin-left: -1.5em;
}
.pro-detail .sell-info dd ul li strong {
  margin-right: 5px;
}

ol.certification {
  margin-bottom: 20px;
}
ol.certification li {
  height: 200px;
  margin-bottom: 15px;
}
ol.certification li img {
  max-height: 100%;
}

.contact-info dt .map {
  width: 100%;
  height: 250px;
}
.contact-info dd h4.title {
  padding-left: 5.5em;
}
.contact-info dd ul li {
  padding-left: 0;
  text-indent: 0;
}
.contact-info dd ul li em {
  display: inline-block;
  width: 7em;
  text-align: right;
}
.contact-info dd ul li span {
  margin-right: 10px;
  padding-left: 30px;
}
