@charset "UTF-8";

$img-path2:             '../images/index';

$content-spacing:       0;
$content-spacing-sm:   10px;

$banner-height:         800px;
$banner-height-sm:      420px;
$banner-height-xs:      320px;


// import
// ------------------------------------------------------------
// helper      non-CSS outputs (mixins,variables) & non-component
// basic       通用: table,form,classes
// component   元件
// layout      布局相關
//
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";

@import "component/classes";
@import "component/btn";

@import "layout/layout";


// header
// ----------------------------------------------------------------------
#header {
    background:hsla(0,0,100%,0.5);
}

#banner {
    min-height: $banner-height;

    margin-top:-$header-height;

    @include media(sm) {min-height: $banner-height-sm;}

    @include media(xs) {
        height:auto;
        clear:both;

        min-height: $banner-height-xs;
    }

    ul {
        @extend .list-unstyled;
        height: $banner-height;

        @include media(sm) {
            height: $banner-height-sm;
            border-bottom:3px solid #D6B65C;
        }

        @include media(xs) {
            height: $banner-height-xs;
            border-bottom:0;
        }

        @for $i from 1 through 1 {
            .i#{$i} {
                height: 100%;
                background: url(#{$img-path2}/banner#{$i}.jpg) no-repeat center top;
                background-size:cover;

                text-align: left;
            }
        }

        li {
            h2 {
                color:#fff;
                font-size: em(36px);
                letter-spacing: 0.2em;
                line-height: 140%;

                position: absolute;
                top:222px;
                right:0;

                text-shadow: 0 0 5px hsla(0,0,0,0.2);

                @include media(sm) {top:130px;}

                @include media(xs) {
                    font-size: em(26px);
                    letter-spacing: 0.1em;

                    top: 70px;
                }

                @include media(xxs) {
                    width:170px;

                    top: 70px; right:0;

                    text-shadow: 0 0 30px hsla(0,0,0,0.5);
                }
            }
            .btn {
                position: absolute;
                top:346px;
                right:195px;
                background:hsla(43,73%,44%,0.5);

                &:hover, &:focus {
                    background:darken(rgba(194,148,30,0.5),10%);
                }

                @include media(sm) {top: 250px;}
                @include media(xs) {top: 155px; right:50px;}
                @include media(xxs) {top: 195px; right:0;}
            }
        }
    }

    .pro {
        @extend .wrap;
        margin-top:-345px;

        a {
            display: block;
            width:380px;
            height:260px;
            background:hsla(0,0,100%,0.3);
            border:1px solid #fff;

            position: absolute;
            right:50px;

            padding:10px;

            &::before {
                content:" ";
                display: block;
                width: calc(100% - 18px);
                height: calc(100% - 18px);
                position: absolute;
                left:10px; top:10px;

                background:$brand-primary;
                opacity: 0;
                transition: opacity 0.5s;
            }

            .btn {
                position: absolute;
                top:45px; right:8px;
            }

            &:hover {
                &::before {opacity:0.25;}
                .btn {background:$btn-bg-hover;}
            }
        }

        @include media-only(sm) {
            margin-top:15px;

            a {
                width:100%;
                text-align: left;
                position: static;

                padding:0;

                &::before {display:none;}

                img {
                    border:1px solid $brand-primary;
                    transition: opacity 0.4s;
                }

                .btn {
                    background:none;

                    font-family: $font-family-slogan;
                    font-size: em(30px);
                    font-style: italic;
                    font-weight: 300;
                    color:$brand-primary;

                    position: relative;
                    top:-40px; left:20px;

                    padding:0;

                    &::after {
                        content:"Read more";
                        display: block;
                        width:330px;

                        border-top:1px solid $brand-primary;

                        font-size: em(14px, 30px);
                        font-style: normal;
                        color:$text-color;
                        letter-spacing: 5px;
                        
                        position: absolute;
                        top: 40px; left:0;

                        padding-top:20px;

                        transition: letter-spacing 0.4s;
                    }
                }

                &:hover {
                    img {opacity: 0.7;}

                    .btn {
                        background:none;
                        &::after {letter-spacing:10px;}
                    }
                }
            }
        }

        @include media(xs) {
            margin-top:0;

            a {
                width:100%;
                height:185px;
                text-align: center;
                border-color:$brand-primary;

                position: relative;
                right:0;

                .btn {
                    font-size: em(14px);
                    top:30px; right:8px;
                }

                img {max-height:100%;}
            }
        }
    }
}

// footer
// ----------------------------------------------------------------------


// main
// ----------------------------------------------------------------------
