@charset "UTF-8";

$img-path2:             '../images/index';

$btn-bg-color:       hsla(43,73%,44%,0.5);

$content-spacing:       0;

$banner-height:         800px;

$footer-bg:             #406947;
$footer-height:         300px;
$footer-height2:        126px;
$footer-contact-color:  #D5E8C2;


// import
// ------------------------------------------------------------
// helper      non-CSS outputs (mixins,variables) & non-component
// basic       通用: table,form,classes
// component   元件
// layout      布局相關
//
@import "helper/function";
@import "helper/var";
@import "helper/mixins";

@import "base/basic";

@import "component/classes";
@import "component/btn";

@import "layout/layout";


// header
// ----------------------------------------------------------------------
#header {
    background:hsla(0,0,100%,0.5);
}

#banner {
    height: $banner-height;

    margin-top:-$header-height;

    ul {
        @extend .list-unstyled;
        height: 100%;

            @for $i from 1 through 1 {
            .i#{$i} {
                height: 100%;
                background: url(#{$img-path2}/banner#{$i}.jpg) no-repeat center top;

                text-align: left;
            }

            li {
                h2 {
                    color:#fff;
                    font-size: em(36px);
                    letter-spacing: 0.2em;
                    line-height: 140%;

                    position: absolute;
                    top:152px;
                    right:40px;

                    text-shadow: 0 0 5px hsla(0,0,0,0.2);
                }

                .btn {
                    position: absolute;
                    top:280px;
                    right:233px;

                    &:hover, &:focus {
                        background:darken(rgba(194,148,30,0.5),10%);
                    }
                }
            }
        }
    }

    .pro {
        @extend .wrap;
        margin-top:-345px;

        a {
            display: block;
            width:380px;
            height:260px;
            background:hsla(0,0,100%,0.3);
            border:1px solid #fff;

            position: absolute;
            right:0;

            padding:10px;

            &::before {
                content:" ";
                display: block;
                width: calc(100% - 18px);
                height: calc(100% - 18px);
                position: absolute;
                left:10px; top:10px;

                background:$brand-primary;
                opacity: 0;
                transition: opacity 0.5s;
            }

            .btn {
                position: absolute;
                top:45px; right:8px;
            }

            &:hover {
                &::before {opacity:0.25;}
                .btn {background:darken(rgba(194,148,30,0.5),10%);}
            }
        }
    }
}

// footer
// ----------------------------------------------------------------------


// main
// ----------------------------------------------------------------------
