@{
    ViewBag.Title = "品牌故事";
    ViewBag.Title2 = @ViewBag.Title;
    ViewBag.BodyClass = "AboutUs";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">
    來自台灣的美麗神話
</h3>

<div class="row">
    <div class="col-xl-9 col-8 col-xs-7 col-xxs-12">
        <p>J+D 醫學美容級專業面膜，由台灣潔芙丹妮生物科技有限公司所研發，台灣佳旭國際有限公司負責生產。J+D 醫學美容級專業面膜，是台灣潔芙丹妮生物科技有限公司創始人、生物醫學博士、醫學美容專科醫師鄭博士為愛美的太太研發，是充滿愛心、體貼呵護的面膜。現在，J+D 秉持著當時的初衷，希望也能讓您體會到我們的用心與貼心。</p>
        <p>我們的面膜是由鄭博士親自為心愛的妻子所研發，因此省下高額的研發費用。另外，我們沒有大量的宣傳與行銷手法，只在親朋好友的口耳相傳之間廣受好評。J+D 醫學美容級專業面膜將這些省下來的費用回饋給消費者，希望能讓更多人使用到平價又優質的保養品。</p>
    </div>
    <div class="col-xl-3 col-4 col-xs-5 col-xxs-12">
        <img class="border" src="~/Content/images/Quality/pic2-1.jpg" alt="">
    </div>
</div>

<h4 class="title">鄭舜文醫師 學經歷</h4>
<div class="row">
    <div class="col-xl-3 col-4 col-xs-5 col-xxs-12 float-r">
        <img src="~/Content/images/AboutUs/pic.jpg" alt="" class="border">
    </div>
    <ul class="list-dashed list-arrow col-xl-9 col-8 col-xs-7 col-xxs-12">
        <li>台灣中原大學生物醫學博士</li>
        <li>台灣醫學美容專科醫師</li>
        <li>台灣外科專科醫師</li>
        <li>台灣骨科專科醫師</li>
        <li>台灣急診專科醫師</li>
        <li>台灣外傷醫學專科醫師</li>
        <li>台北醫學大學醫學系畢業</li>
        <li>台大醫院骨科專科訓練結業</li>
    </ul>
</div>

<h4 class="title">台灣微整形教父 - 藍紹梓醫師 強力推薦</h4>
<div class="row">
    <div class="col-xl-3 col-4 col-xs-5 col-xxs-12 float-r">
        <figure>
            <img src="~/Content/images/AboutUs/pic2.jpg" alt="" class="border">
            <figcaption><small>小S愛用醫美專家</small></figcaption>
        </figure>
    </div>
    <ul class="list-dashed list-arrow col-xl-9 col-8 col-xs-7 col-xxs-12">
        <li>台北醫學大學附設醫院整外專科醫師</li>
        <li>臺北醫學大學 國立陽明醫學大學 專任講師</li>
        <li>中華民國外科醫學專科醫師</li>
        <li>中華民國整形外科專科醫師</li>
        <li>中華民國皮膚美容專科醫師</li>
        <li>比利時渦旋微笑抽脂原廠認證醫師</li>
        <li>亞洲抗老化醫學美容專科醫師</li>
        <li>中華民國微雕學會專科醫師
        <li>現任<a href="http://www.drlan.com.tw/" target="new">真漾美醫美醫院</a>院長</li>
    </ul>
</div>
