@{
    ViewBag.Title = "E.G.F.生物纖維面膜";
    ViewBag.Title2 = "產品介紹";
    ViewBag.BodyClass = "Products content";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadcrumb {
<li><a href="~/Products/list">@ViewBag.Title2</a></li>
}

<h3 class="title">E.G.F.生物纖維面膜</h3>

<dl class="pro-intro list-unstyled row">
    <dt>
        <img src="~/Content/images/Products/pro1/pic.jpg" alt="">
        <article class="point">
            <h5 class="title">生物纖維：</h5>
            <p>由10幾種有效菌種複合脂生物纖維，與人體皮膚相似度極高，能保持良好的保濕效果與協助各種精華液穿透肌膚有效達到吸收。</p>
        </article>
    </dt>
    <dd>
        <article class="intro">
            <h5 class="title">頂級精緻的精華液成份，改善粗糙晦暗肌膚，維持年輕光澤，常保細緻彈力，給予肌膚最深度的呵護保養。</h5>
            <ul class="ingredient list-unstyled">
                <li>Epidermal Growth Factor EGF</li>
                <li>Sodium Hyaluronate 玻尿酸</li>
                <li>Dipotassium Glycyrrhizinate 甘草酸鉀</li>
                <li>Panthenol 維他命原B5</li>
                <li>Chamomilla Recutita (Matricaria) Flower Extract 洋甘菊萃取液</li>
                <li>富勒烯</li>
            </ul>
            <ol class="feature list-inline row">
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro1/pic2.jpg" alt="">
                        <figcaption>Epidermal Growth Factor</figcaption>
                    </figure>
                </li>
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro1/pic3.jpg" alt="">
                        <figcaption>Epidermal Growth Factor</figcaption>
                    </figure>
                </li>
            </ol>
        </article>
    </dd>
</dl>

<section class="pro-detail">
    <h4 class="title">Product Detail</h4>
    <p>生物纖維：是由十幾種有效菌種天然發酵孕育出來的有機纖維，是當今自然界中結構最完整綿密、纖維直徑最微小的材質，同時呈現了3D立體交錯結構，能讓空氣及水份通過，同時又具有絕佳的韌性。所以它又被稱之為會呼吸的面膜。類真皮材質的面膜具有超強的滲透力，絕對服貼，使面膜中的保養成分不易揮發，讓每一絲精華液徹底發揮功效。<br>
    類真皮不含任何防腐劑，它使用醫療級的伽馬射線消毒，所以對皮膚不產生過敏現像。</p>
    <p>生長因子：是由負責細胞間信號分子傳遞的一群蛋白質，藉由結合至特定細胞表面的受體來調節細胞活動及功能，刺激細胞分裂，加速新成代謝，藉此不斷活化新細胞，更新老化角質細胞及上皮細胞。<br>
    平時身體會自行生成並分泌多種生長因子調整皮膚修護，但隨著年齡地增長、環境及不正常的作息都會影響其作用。因此，適度提供膚外來源生長因子，除可提高皮膚生長濃度亦可促進皮膚自行生成所需生長因子，達到換膚效果。</p>

    <h5 class="title">主成份 Featured Ingredients</h5>
    <ol class="feature list-inline row">
        <li class="col-6">
            <h6 class="title">Epidermal Growth Factor 有效成分</h6>
            <figure>
                <img src="~/Content/images/Products/pro1/pic2.jpg" alt="">
                <figcaption>促進肌膚新陳代謝，提高肌膚自我修護能力，淡化斑點，抗痕嫩膚的效果。</figcaption>
            </figure>
        </li>
        <li class="col-6">
            <h6 class="title">Chamomilla Recutita (Matricaria) Extract 洋甘菊萃取液</h6>
            <figure>
                <img src="~/Content/images/Products/pro1/pic3.jpg" alt="">
                <figcaption>緩和過敏現象，抑制黑斑、雀斑</figcaption>
            </figure>
        </li>
    </ol>

    <h5 class="title">使用方式 How to Use</h5>
    <ol class="steps list-inline row">
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step1.jpg" alt="">
            </figure>
            <em>清潔卸妝後，將臉部肌膚擦拭乾淨，輕拍化妝水。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step2.jpg" alt="">
            </figure>
            <em>取出一片面膜，敷貼全臉。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step3.jpg" alt="">
            </figure>
            <em>停敷約 15-20 分鐘。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step4.jpg" alt="">
            </figure>
            <em>取下後可再擦上精華液或乳液/霜。</em>
        </li>
    </ol>

    <h5 class="title">如何購買 Where to Buy</h5>
    <div class="row">
        <div class="col-7">
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-wechat.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>大陸</em><span class="wechat">微信 ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>RMB$ 198 / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-line.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>台灣</em><span class="line">LINE ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>NT$ ____ / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-5">
            <img class="border" src="~/Content/images/Products/pro1/pic4.jpg" alt="">
        </div>
    </div>
</section>

<p class="back">
    <a href="~/Products/list" class="btn">&lt;&lt; Back</a>
</p>
