@{
    ViewBag.Title = "玻尿酸保濕面膜";
    ViewBag.Title2 = "產品介紹";
    ViewBag.BodyClass = "Products content";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadcrumb {
<li><a href="~/Products/list">@ViewBag.Title2</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<dl class="pro-intro list-unstyled row">
    <dt>
        <img src="~/Content/images/Products/pro4/pic.jpg" alt="">
        <article class="point">
            <h5 class="title">木漿紙：</h5>
            <p>特色是吸水性強、質地柔軟、服貼、保濕。紙張具有超強鎖水性，能充足反應飽水度。</p>
        </article>
    </dt>
    <dd>
        <article class="intro">
            <h5 class="title">補充肌膚足夠水份，並緊緊鎖住，讓角質層的含水飽和度增加，改善肌膚缺水乾荒，維持肌膚水嫩豐潤感。</h5>
            <ul class="ingredient list-unstyled">
                <li>Sodium Hyaluronate 玻尿酸</li>
                <li>Imperata cylindrica (root) extract 白茅萃取液</li>
                <li>Cucumis Sativus (Cucumber) Fruit Extract 小黃瓜萃取液</li>
                <li>Allantoin 尿囊素</li>
                <li>Lavandula Angustifolia (Lavender) Flower water 薰衣草花水</li>
                <li>Sodium lactate 乳酸鈉</li>
                <li>1, 3 butylene glycol 保濕劑</li>
            </ul>
            <ol class="feature list-inline row">
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro4/pic2.jpg" alt="">
                        <figcaption>玻尿酸</figcaption>
                    </figure>
                </li>
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro4/pic3.jpg" alt="">
                        <figcaption>白茅萃取液</figcaption>
                    </figure>
                </li>
            </ol>
        </article>
    </dd>
</dl>

<section class="pro-detail">
    <h4 class="title">Product Detail</h4>

    <h5 class="title">主成份 Featured Ingredients</h5>
    <ol class="feature list-inline row">
        <li class="col-6">
            <h6 class="title">Sodium Hyaluronate 玻尿酸</h6>
            <figure>
                <img src="~/Content/images/Products/pro4/pic2.jpg" alt="">
                <figcaption>玻尿酸可以吸收並緊密結合水分，增強皮膚長時間的鎖水保水能力，當玻尿酸吸收大量的水分時，使得彈力纖維及膠原蛋白處在充滿水分的環境中，相對地皮膚也就更具有彈性。</figcaption>
            </figure>
        </li>
        <li class="col-6">
            <h6 class="title">Imperata cylindrica (root) extract 白茅萃取液</h6>
            <figure>
                <img src="~/Content/images/Products/pro4/pic3.jpg" alt="">
                <figcaption>萃取自澳洲特有白茅萃取，能使肌膚滋潤、保濕。協助肌膚保持水分滲透平衡，此協同作用能使皮膚持續全天候的保濕效果，並對肌膚進行深層保水加強肌膚的保水力，進而提升肌膚的儲水量。</figcaption>
            </figure>
        </li>
    </ol>

    <h5 class="title">使用方式 How to Use</h5>
    <ol class="steps list-inline row">
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step1.jpg" alt="">
            </figure>
            <em>清潔卸妝後，將臉部肌膚擦拭乾淨，輕拍化妝水。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step2.jpg" alt="">
            </figure>
            <em>取出一片面膜，敷貼全臉。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step3.jpg" alt="">
            </figure>
            <em>停敷約 15-20 分鐘。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step4.jpg" alt="">
            </figure>
            <em>取下後可再擦上精華液或乳液/霜。</em>
        </li>
    </ol>

    <h5 class="title">如何購買 Where to Buy</h5>
    <div class="row">
        <div class="col-7">
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-wechat.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>大陸</em><span class="wechat">微信 ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>RMB$ 198 / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-line.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>台灣</em><span class="line">LINE ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>NT$ ____ / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-5">
            <img class="border" src="~/Content/images/Products/pro4/pic4.jpg" alt="">
        </div>
    </div>
</section>

<p class="back">
    <a href="~/Products/list" class="btn">&lt;&lt; Back</a>
</p>
