@{
    ViewBag.Title = "紫鑽綺肌面膜";
    ViewBag.Title2 = "產品介紹";
    ViewBag.BodyClass = "Products Products_content";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadcrumb {
<li><a href="~/Products/list">@ViewBag.Title2</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<dl class="pro-intro list-unstyled row">
    <dt>
        <img src="~/Content/images/Products/pro2/pic.jpg" alt="">
        <img class="detail" src="~/Content/images/Products/pro1/pic1-2.png" alt="">
        <article class="point">
            <h5 class="title">蠶絲羽翼(羽絲縷)：</h5>
            <p>蠶絲般光澤觸感，輕薄如昆蟲的羽翼，能應付肌膚紋理變化，將精華液送達每一個毛孔中，享受舒適的呵護。</p>
        </article>
    </dt>
    <dd>
        <article class="intro">
            <h5 class="title">來自法國的美加葡萄精萃，配合蠶絲羽翼材質，能完整服貼，讓精華液充分滲透肌膚，賦予肌膚水潤活力，修護老化肌膚，維持年輕細緻的柔嫩美肌。</h5>
            <ul class="ingredient list-unstyled">
                <li><strong>Vitis Vinifera (Grape) Fruit Extract 葡萄萃取液</strong></li>
                <li><strong>Ceramide3, Ceramide6II, Ceramide1, Phytosphingosine, Cholesterol, Sodium Lauroyl Lactylate, Carbomer, Xanthan gum 神經醯胺複合物</strong></li>
                <li>Sodium Hyaluronate 玻尿酸</li>
            </ul>
            <ol class="feature list-inline row">
                <li class="col-6 col-xxs-12">
                    <figure>
                        <img src="~/Content/images/Products/pro2/pic2.jpg" alt="">
                        <figcaption>葡萄萃取液</figcaption>
                    </figure>
                </li>
                <li class="col-6 col-xxs-12">
                    <figure>
                        <img src="~/Content/images/Products/pro2/pic3.jpg" alt="">
                        <figcaption>神經醯胺複合物</figcaption>
                    </figure>
                </li>
            </ol>
        </article>
    </dd>
</dl>

<section class="pro-detail">
    <h4 class="title">Product Detail</h4>
    <p>我們的紫鑽綺肌面膜材質是進口日本天絲棉，蠶絲般光澤觸感，輕薄如昆蟲羽翼，能應付肌膚紋理變化，將精華液送達每一個毛孔之中，享受最舒適的細胞呵護。</p>
    <p>維他命原B5是保濕劑、柔軟劑，易氧化，可溶於水、酒精及丙二醇，經皮膚吸收後，與維生素B6(Pyridoxine) 一起作用，可增加肌膚之玻尿酸含量，給予肌膚光澤及保溼作用，能刺激細胞分裂再生並組織修復，尤其適合熟齡肌膚使用。</p>

    <h5 class="title">主成份 Featured Ingredients</h5>
    <ol class="feature list-inline row">
        <li class="col-6 col-xs-12">
            <h6 class="title">Vitis Vinifera (Grape) Fruit Extract 葡萄萃取液</h6>
            <figure>
                <img src="~/Content/images/Products/pro2/pic2.jpg" alt="">
                <figcaption>取自法國勃根第地區稀有的加美葡萄品種，含有極高單位花青素，具抗氧化作用。研究發現，葡萄活性成分能保護皮膚，提升皮膚防護力，避免引起皮膚過早老化問題。</figcaption>
            </figure>
        </li>
        <li class="col-6 col-xs-12">
            <h6 class="title">神經醯胺複合物</h6>
            <figure>
                <img src="~/Content/images/Products/pro2/pic3.jpg" alt="">
                <figcaption>有效地幫助我們的肌膚重建屏障並維持其功能，能幫助肌膚提高保濕，增加防護功能，減少肌膚乾燥的狀況，是老化、乾燥極敏感性肌膚的理想選擇。</figcaption>
            </figure>
        </li>
    </ol>

    <h5 class="title">使用方式 How to Use</h5>
    <ol class="steps list-inline row">
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step1.jpg" alt="">
            </figure>
            <em>清潔卸妝後，將臉部肌膚擦拭乾淨，輕拍化妝水。</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step2.jpg" alt="">
            </figure>
            <em>1. 將面膜展開取下外層白色珍珠紙<br>2. 將藍色不織布朝外並敷於臉上<br>3. 壓住羽絲縷布膜並撕去藍色不織布</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step3.jpg" alt="">
            </figure>
            <em>停敷約 15-20 分鐘。</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step4.jpg" alt="">
            </figure>
            <em>取下後可再擦上精華液或乳液/霜。</em>
        </li>
    </ol>

    

    <h5 class="title">如何購買 Where to Buy</h5>
    <div class="row">
        <div class="col-7 col-xs-12">
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-wechat.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>大陸</em><span class="wechat">微信 ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>RMB$ 138 / 盒</strong>(5片裝)</li>
                    </ul>
                </dd>
            </dl>
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-line.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>台灣</em><span class="line">LINE ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>NT$ 698 / 盒</strong>(5片裝)</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-5 col-xs-12">
            <img class="border" src="~/Content/images/Products/pro2/pic4.jpg" alt="">
        </div>
    </div>
</section>

<p class="back">
    <a href="~/Products/list" class="btn">&lt;&lt; Back</a>
</p>
