@{
    ViewBag.Title = "產品介紹";
    ViewBag.Title2 = @ViewBag.Title;
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">來自台灣，醫學美容級專業面膜</h3>

<ul class="prolist list-unstyled row">
    <li>
        <article class="pro hot">
            <a href="~/Products/content">
                <img src="~/Content/images/Products/pro1.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">E.G.F.生物纖維面膜</h4>
        </article>
    </li>
    <li>
        <article class="pro hot">
            <a href="~/Products/content2">
                <img src="~/Content/images/Products/pro2.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">紫鑽綺肌面膜</h4>
        </article>
    </li>
    <li>
        <article class="pro">
            <a href="~/Products/content3">
                <img src="~/Content/images/Products/pro3.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">瞬白3D提拉面膜</h4>
        </article>
    </li>
    <li>
        <article class="pro">
            <a href="~/Products/content4">
                <img src="~/Content/images/Products/pro4.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">玻尿酸保濕面膜</h4>
        </article>
    </li>
    <li>
        <article class="pro">
            <a href="~/Products/content5">
                <img src="~/Content/images/Products/pro5.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">蘆薈清新面膜</h4>
        </article>
    </li>
    <li>
        <article class="pro">
            <a href="~/Products/content6">
                <img src="~/Content/images/Products/pro6.jpg" alt="">
                <span class="btn">Read More</span>
            </a>
            <h4 class="title">面膜五入混裝組</h4>
        </article>
    </li>
</ul>