@{
    ViewBag.Title = "瞬白3D提拉面膜";
    ViewBag.Title2 = "產品介紹";
    ViewBag.BodyClass = "Products content";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadcrumb {
<li><a href="~/Products/list">@ViewBag.Title2</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<dl class="pro-intro list-unstyled row">
    <dt>
        <img src="~/Content/images/Products/pro3/pic.jpg" alt="">
        <article class="point">
            <h5 class="title">3D提拉面膜：</h5>
            <p>能夠包覆全臉的3D提拉面膜，不遺漏臉部任何一個角落，精華液吸收更完整，效果更明顯。</p>
        </article>
    </dt>
    <dd>
        <article class="intro">
            <h5 class="title">添加山花精、甘草、小黃瓜等植物萃取白淨成分，配合提拉式面膜，將精華液封鎖吸收，即使走動，面膜依然完整服貼，讓肌膚白嫩細緻，明亮動人。</h5>
            <ul class="ingredient list-unstyled">
                <li><strong>Niacinamide 菸鹼醯胺</strong></li>
                <li><strong>Glycyrrhiza Glabra Extract 甘草萃取液</strong></li>
                <li>Aloe Barbadensis Leaf Juice 蘆薈萃取液</li>
                <li>Cucumis Sativus (Cucumber) Fruit Extract 小黃瓜萃取液</li>
                <li>Rosa Centifolia Flower Water 玫瑰花水</li>
                <li>Sodium Hyaluronate 玻尿酸</li>
                <li><strong>胎盤素</strong></li>
            </ul>
            <ol class="feature list-inline row">
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro3/pic2.jpg" alt="">
                        <figcaption>菸鹼醯胺</figcaption>
                    </figure>
                </li>
                <li class="col-6">
                    <figure>
                        <img src="~/Content/images/Products/pro3/pic3.jpg" alt="">
                        <figcaption>甘草萃取液</figcaption>
                    </figure>
                </li>
            </ol>
        </article>
    </dd>
</dl>

<section class="pro-detail">
    <h4 class="title">Product Detail</h4>

    <h5 class="title">主成份 Featured Ingredients</h5>
    <ol class="feature list-inline row">
        <li class="col-6">
            <h6 class="title">Niacinamide 菸鹼醯胺</h6>
            <figure>
                <img src="~/Content/images/Products/pro3/pic2.jpg" alt="">
                <figcaption>增加肌膚保濕功能，減少水分流失。</figcaption>
            </figure>
        </li>
        <li class="col-6">
            <h6 class="title">Glycyrrhiza Glabra Extract 甘草萃取液</h6>
            <figure>
                <img src="~/Content/images/Products/pro3/pic3.jpg" alt="">
                <figcaption>不易造成過敏，具鎮靜舒緩的作用，可抑制酪胺酸脢的活化。</figcaption>
            </figure>
        </li>
    </ol>

    <h5 class="title">使用方式 How to Use</h5>
    <ol class="steps list-inline row">
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step1.jpg" alt="">
            </figure>
            <em>清潔卸妝後，將臉部肌膚擦拭乾淨，輕拍化妝水。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step2_2.jpg" alt="">
            </figure>
            <em>取出一片面膜，敷貼全臉。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step3.jpg" alt="">
            </figure>
            <em>停敷約 15-20 分鐘。</em>
        </li>
        <li class="col-3">
            <figure>
                <img src="~/Content/images/Products/step4.jpg" alt="">
            </figure>
            <em>取下後可再擦上精華液或乳液/霜。</em>
        </li>
    </ol>

    <h5 class="title">如何購買 Where to Buy</h5>
    <div class="row">
        <div class="col-7">
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-wechat.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>大陸</em><span class="wechat">微信 ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>RMB$ 198 / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-line.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>台灣</em><span class="line">LINE ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>NT$ ____ / 盒</strong><br>(5片裝，可和另4種面膜自由組合搭配)</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-5">
            <img class="border" src="~/Content/images/Products/pro3/pic4.jpg" alt="">
        </div>
    </div>
</section>

<p class="back">
    <a href="~/Products/list" class="btn">&lt;&lt; Back</a>
</p>
