@{
    ViewBag.Title = "面膜五入混裝組";
    ViewBag.Title2 = "產品介紹";
    ViewBag.BodyClass = "Products Products_content";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@section breadcrumb {
<li><a href="~/Products/list">@ViewBag.Title2</a></li>
}

<h3 class="title">@ViewBag.Title</h3>

<dl class="pro-intro list-unstyled row">
    <dt>
        <img src="~/Content/images/Products/pro6/pic.jpg" alt="">
    </dt>
    <dd>
        <article class="intro">
            <h5 class="title">為體貼喜愛嘗鮮的朋友，我們特別規劃 5 種面膜各一片的組合，滿足您全方位的需求。</h5>
            <ul class="ingredient list-unstyled">
                <li><strong>E.G.F.生物纖維面膜:</strong> 改善粗糙晦暗肌膚，維持年輕光澤</li>
                <li><strong>紫鑽綺肌面膜:</strong> 賦予肌膚水潤活力，修護老化肌膚</li>
                <li><strong>瞬白3D提拉面膜:</strong> 即使走動，面膜依然完整服貼，讓肌膚白嫩細緻</li>
                <li><strong>玻尿酸保濕面膜:</strong> 改善肌膚缺水乾荒，維持肌膚水嫩豐潤感</li>
                <li><strong>蘆薈清新面膜:</strong> 清涼保濕安定肌膚，減少油光現象，舒緩曬後不適感</li>
            </ul>
        </article>
    </dd>
</dl>

<section class="pro-detail">
    <h4 class="title">Product Detail</h4>

    <p>詳細說明及主成分介紹，請參閱各面膜的產品介紹頁。</p>

    <h5 class="title">使用方式 How to Use</h5>
    <ol class="steps list-inline row">
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step1.jpg" alt="">
            </figure>
            <em>清潔卸妝後，將臉部肌膚擦拭乾淨，輕拍化妝水。</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step2.jpg" alt="">
            </figure>
            <em>取出一片面膜，敷貼全臉。</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step3.jpg" alt="">
            </figure>
            <em>停敷約 15-20 分鐘。</em>
        </li>
        <li class="col-3 col-xs-12">
            <figure>
                <img src="~/Content/images/Products/step4.jpg" alt="">
            </figure>
            <em>取下後可再擦上精華液或乳液/霜。</em>
        </li>
    </ol>

    <h5 class="title">如何購買 Where to Buy</h5>
    <div class="row">
        <div class="col-7 col-xs-12">
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-wechat.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li>
                            <em>大陸</em>
                            <span class="wechat">微信 ID: Konvict_hyun</span>
                            <span class="wechat">微信 ID: jishuang116</span>
                            <span class="wechat">微信 ID: NN6329</span>
                            <span class="wechat">微信 ID: wyl15066886258</span>
                            <span class="wechat">微信 ID: Rebecca187</span>
                        </li>
                        <li><em>建議售價</em><strong>RMB$ 142 / 盒</strong><br>(5片裝，5種各一片)</li>
                    </ul>
                </dd>
            </dl>
            <dl class="sell-info">
                <dt><img src="~/Content/images/Products/qr-line.jpg" alt=""></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li><em>台灣</em><span class="line">LINE ID: swag612923</span></li>
                        <li><em>建議售價</em><strong>NT$ 720 / 盒</strong><br>(5片裝，5種各一片)</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-5 col-xs-12">
            <img class="border" src="~/Content/images/Products/pro6/pic2.jpg" alt="">
        </div>
    </div>
</section>

<p class="back">
    <a href="~/Products/list" class="btn">&lt;&lt; Back</a>
</p>
