@charset "UTF-8";

// wrapper
$wrapper-bg:            #fff !default;
$content-spacing:       75px !default;
$content-spacing-sm:    30px !default;

// header
$header-height:         60px !default;

$menu-height:           70px !default;
$menu-height-sm:        100% !default;
$menu-link:             transparent !default;
$menu-link-hover:       #F6EFCB !default;

// footer
$footer-height:         300px !default;
$footer-height-xs:      238px !default;
$footer-height-xxs:     378px !default;
$footer-bg:             url(#{$img-path}/bgFooter.gif) no-repeat center top !default;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

%center {
    // max-width: wrap-width(xl); // 最大寬度限制 (非滿版才需要)
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    // 最小寬度限制 (無 RWD - 至少 lg 的寬度)
    // @include media(lg-min) {
    //     min-width: wrap-width(lg);
    // }

    // 最小寬度限制 (有 RWD - 至少 xxs 的寬度)
    min-width: wrap-width(xxs);
}

#wrapper {
    @extend %container;
    @extend %center;
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距

    @include media(xs) {
        min-height: auto;
        background:#fff;

        padding-bottom: $footer-height-xs + $content-spacing-sm;
    }
    @include media(xxs) {padding-bottom: $footer-height-xxs + $content-spacing-sm;}
}

.wrap {
    @extend %container;
    @extend %center;
    @extend %clearfix;

    $screens: sm, md, lg, xl;
    @each $screen in $screens {
        @include media(#{$screen}-min) {
            width: wrap-width(#{$screen});
        }
    }
    @include media(xs) {
        width:100%;
        padding:0 10px;
    }
}

#header, #footer, #main, #content {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    height:$header-height;

    z-index: z(header);

    .wrap {position: relative;}

    .logo {
        height:100%;
        width:238px;
        font-size: em(16px);

        position: absolute;
        left:0; top:0;
        padding:10px 0;
        z-index: z(logo);

        @include media(xs) {left:10px;}

        a {
            display: block;
            height:40px;
            background:url(#{$img-path}/logo.png) left center no-repeat;
            background-size:auto 100%;

            font-size: em(12px);
            letter-spacing: 0.258em;
            color:$brand-secondary;

            padding-left:115px;

            em {
                font-size: em(14px, 12px);

                margin-bottom:4px;
            }
        }
    }
}

.menu-trigger {
    display:none;
    width:50px;
    height:50px;
    text-indent:-9999px;

    background:url(#{$img-path}/iconMenuBar.gif) no-repeat center center #C49534;
    border:0;

    float:right;

    @include media(xs) {display:block;}
}

#menu {
    text-align: right;

    a {
        display: inline-block;
        height: $header-height;

        line-height: $header-height;
        color:#5C5040;
        letter-spacing: 0.1em;

        padding:0 20px;

        transition: background 0.3s;

        $selector: ();
        @each $item in $pages {
            $i: index($pages, $item);

            $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
        }
        &:hover,
        #{$selector} {
            background: $menu-link-hover;
            color:darken($brand-primary,5%);
            font-weight: bold;
        }
    }

    @include media(sm) {
        a {padding:0 10px;}
    }

    @include media(xs) {
        display: none;
        background:#C49534;
        
        width:calc(100% - 20px);
        text-align: center;

        position: absolute;
        left:10px; top:$header-height;
        // top:$header-height+20px;

        // opacity: 0;
        // transition: opacity 0.3s, top 0.3s;

        // &.toggled {
        //     display: block;
        //     opacity: 1;
        //     top:$header-height;
        // }

        a {
            height: auto;

            color:#fff;
            line-height: 1;

            position: relative;
            
            padding:$gutter;

            $selector: ();
            @each $item in $pages {
                $i: index($pages, $item);

                $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
            }
            &:hover,
            #{$selector} {
                background: lighten(#C49534,15%);
                color:#fff;
                font-weight: normal;
            }
        }
    }

    @include media(xxs) {
        text-align: left;

        a {
            display: block;

            &::after {
                @include caret(right,8px,6px,darken($brand-primary,10%));
                display: block;
                content:" ";

                position: absolute;
                right:$gutter;
                top:50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    @extend %center;
    background: $footer-bg;
    border-top: 3px solid #D6B65C;

    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    color: $brand-primary;

    @include media(xl-min) {background-position:-210px 0;}

    @include media-only(sm) {
        &::after {
            content:" ";
            display: block;

            background:hsla(0,0,100%,0.4);
            width:100%; height:100%;

            position: absolute;
            left:0; top:0;
            z-index: -1;
        }
    }

    @include media(xs) {
        height: $footer-height-xs;
        background:none;

        margin-top: -($footer-height-xs);
        padding:$gutter 0;
    }
    @include media(xxs) {
        height: $footer-height-xxs;
        margin-top: -($footer-height-xxs);
    }

    .logo {
        width: 268px;
        height:65px;

        background:url(#{$img-path}/logo2.gif) no-repeat left center;
        background-size: auto 100%;

        color:#9C5F18;
        font-size: em(14.35px);
        text-align: left;

        position: absolute;
        left:295px; top:40px;

        padding:8px 0 8px 120px;

        em {
            font-size: em(16.54px,14.35px);
        }

        @include media(xl-min) {left:300px;}
        @include media(md) {left:265px;}
        @include media(sm) {left:140px;}

        @include media(xs) {
            position: static;
            float:right;
        }

        @include media(xxs) {
            float:none;
            margin:0 auto;
        }
    }
}

.contact {
    width: 296px;
    float:right;

    margin-top:28px;

    li {
        height:80px;
        float:left;

        margin-left:4px;

        a {
            @include text-pic('navFooter.gif', 40px, 40px);
            display: block;

            margin-top:20px;

            &:hover, &:focus {
                background-position:0 -80px;
            }
        }

        &:last-child {
            a {
                background-position:-51px 0;

                &:hover, &:focus {background-position:-51px -80px;}
            }
        }
    }

    @include media(xs) {
        width: 272px;
        margin-top:10px;
        clear:both;

        li {padding:0 2px;}
    }

    @include media(xxs) {
        width: 296px;
        float:none;

        margin:$gutter auto 0 auto;
    }
}

.mit {
    width:221px;
    height:122px;
    background:url(#{$img-path}/mit.gif) no-repeat 78px 37px;

    font-size: em(22.44px);
    letter-spacing: 0.243em;

    position: absolute;
    right:0; top:150px;

    em {
        display: block;
        font-style: normal;
        font-size: em(27.36px,22.44px);
        font-family:$font-family-slogan;
        font-weight: 300;
        letter-spacing: 0;

        margin-top:30px;

        span {margin:0 8px;}
    }

    @include media(xl-min) {right:30px;}

    @include media(xs) {
        position: static;
        float:left;

        margin-top:-60px;
    }

    @include media(xxs) {
        height:140px;

        position: absolute;
        top:180px; left:50%;
        margin-top:0;

        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
}

.copyright {
    width:140px;
    font-size: em(12px);
    font-family:$font-family-slogan;
    font-weight: 300;

    position: absolute;
    left:137px; top:210px;

    @include media(xl-min) {left:90px;}
    @include media(md) {left:70px;}
    @include media(sm) {left:0; top:200px;}

    @include media(xs) {
        width:100%;
        height:40px;
        background:#D6B65C;

        color:#fff;
        text-align: left;

        left:0;
        top:180px;

        padding:10px;
    }

    @include media(xxs) {top:320px;}
}
.goTop {
    @include fixed(bottom cp(10px) right cp(10px));
    @include size(40px);

    background: #D6B65C;
    color: #fff;
    line-height: 1.1;
    padding-top: 19px;

    display: none;
    z-index: z(goTop);
    transition: background 0.3s;

    &::before {
        @include caret(up, 12px, 8px, #fff);
        @include absolute(top 4px left 50%);
        content: '';
        margin-left: -6px;
    }
    &:hover, &:active {
        opacity: 1;
        color:#fff;
        background: $brand-primary;
    }

    @include media(xs) {
        bottom:0;
        opacity: 0.7;

        &:hover, &:active {opacity:1;}
    }
}