@charset "UTF-8";
// wrapper
$wrapper-bg:            #fff;
$content-spacing:       75px !default;

// header
$header-height:         60px;

$menu-height:           70px;
$menu-height-sm:        100%;
$menu-link:             transparent;
$menu-link-hover:       #F5E2B8;

// footer
$footer-height:         300px !default;
$footer-height-sm:      100px;
$footer-bg:             url(#{$img-path}/bgFooter.gif) no-repeat center top;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

%center {
    // max-width: wrap-width(xl); // 最大寬度限制 (非滿版才需要)
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    // 最小寬度限制 (無 RWD - 至少 lg 的寬度)
    // @include media(lg-min) {
    //     min-width: wrap-width(lg);
    // }

    // 最小寬度限制 (有 RWD - 至少 xxs 的寬度)
    @include media(xs) {
        min-width: wrap-width(xxs);
    }
}

#wrapper {
    @extend %container;
    @extend %center;
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
}

.wrap {
    @extend %container;
    @extend %center;
    @extend %clearfix;

    $screens: xl, lg, md, sm, xs;
    @each $screen in $screens {
        @include media(#{$screen}) {
            width: wrap-width(#{$screen});
        }
    }
}

#header, #footer, #main, #content {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    height:$header-height;

    z-index: z(header);

    .logo {
        height:100%;
        width:238px;
        z-index: z(logo);
        font-size: em(16px);

        float:left;
        padding:10px 0;

        a {
            display: block;
            height:40px;
            background:url(#{$img-path}/logo.png) left center no-repeat;
            background-size:auto 100%;

            font-size: em(12px);
            letter-spacing: 0.258em;
            color:$brand-secondary;

            padding-left:115px;

            em {
                font-size: em(14px, 12px);

                margin-bottom:4px;
            }
        }
    }
}

.menu-trigger {
    display:none;
}

#menu {
    text-align: right;

    .toggle {
        display:none;
    }

    a {
        display: inline-block;
        height: $header-height;

        line-height: $header-height;
        color:#5C5040;
        letter-spacing: 0.1em;

        padding:0 20px;

        $selector: ();

        @each $item in $pages {
            $i: index($pages, $item);

            $selector: append($selector, unquote(".#{$item} &:nth-of-type(#{$i})"), comma);
        }

        &:hover,
        #{$selector} {
            background: $menu-link-hover;
            color:$brand-secondary;
        }
    }
}


// footer
// ----------------------------------------------------------------------
#footer {
    @extend %center;
    background: $footer-bg;
    border-top: 3px solid #D6B65C;

    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    color: $brand-primary;

    @include media(sm) {
        margin-top: -($footer-height-sm);
        height: $footer-height-sm;
    }

    .logo {
        width: 265px;
        height:65px;

        background:url(#{$img-path}/logo2.gif) no-repeat left center;
        background-size: auto 100%;

        color:#9C5F18;
        font-size: em(14.35px);
        text-align: left;

        position: absolute;
        left:295px; top:40px;

        padding:8px 0 8px 120px;

        em {
            font-size: em(16.54px,14.35px);
        }
    }
}

.contact {
    float:right;

    margin-top:28px;

    li {
        height:80px;
        float:left;

        margin-left:4px;

        a {
            @include text-pic('navFooter.gif', 40px, 40px);
            display: block;

            margin-top:20px;

            &:hover, &:focus {
                background-position:0 -80px;
            }
        }

        &:first-child {margin-right:4px;}

        &:last-child {
            a {
                background-position:-51px 0;

                &:hover, &:focus {background-position:-51px -80px;}
            }
        }
    }
}

.mit {
    height:122px;
    background:url(#{$img-path}/mit.gif) no-repeat 78px 37px;

    font-size: em(22.44px);
    letter-spacing: 0.243em;

    position: absolute;
    right:0; top:150px;

    em {
        display: block;
        font-style: normal;
        font-size: em(27.36px,22.44px);
        font-family:$font-family-slogan;
        font-weight: 300;
        letter-spacing: 0;

        margin-top:30px;

        span {margin:0 8px;}
    }
}

.copyright {
    font-size: em(12px);
    font-family:$font-family-slogan;
    font-weight: 300;

    position: absolute;
    left:137px; top:210px;
}
.goTop {
    @include fixed(bottom cp(10px) right cp(10px));
    @include size(40px);

    background: #D6B65C;
    color: #fff;
    line-height: 1.1;
    padding-top: 19px;

    display: none;
    z-index: z(goTop);
    transition: background 0.3s;

    &::before {
        @include caret(up, 12px, 8px, #fff);
        @include absolute(top 4px left 50%);
        content: '';
        margin-left: -6px;
    }
    &:hover, &:active {
        opacity: 1;
        color:#fff;
        background: $brand-primary;
    }
}