@charset "UTF-8";
// wrapper
$wrapper-bg:            #fff;
$content-spacing:       75px !default;

// header
$header-height:         112px;
$logo-img:              'logo.png' !default;
$logo-size:             235px, 83px !default;

$menu-height:           70px;
$menu-height-sm:        100%;
$menu-link:             transparent;
$menu-link-hover:       $brand-secondary;

// footer
$footer-height:         50px !default;
$footer-height-sm:      100px;
$footer-bg:             #656565;
$goTop:                 (bottom 10px), (right 15px) !default;


/*      layout
-----------------------------------------------------------------------*/
// 外層-內容有絕對定位
%container {
    position: relative;
}

%center {
    max-width: wrap-width(xl); // 最大寬度限制 (非滿版才需要)
    margin: 0 auto;
}

// 容器-header、wrap、main、footer等
%contain {
    @extend %clearfix;

    // 最小寬度限制 (無 RWD - 至少 lg 的寬度)
    @include media(lg-min) {
        min-width: wrap-width(lg);
    }

    // 最小寬度限制 (有 RWD - 至少 xxs 的寬度)
    // @include media(md) {
    //     min-width: 100%;
    //     max-width: 100%;
    // }
}

#wrapper {
    @extend %container;
    @extend %center;
    @if $lte7 {
        _height: 100%;
    }
    min-height: 100%;
    padding-bottom: $footer-height + $content-spacing; // 內容與footer間距
    background: $wrapper-bg;

    @include media(sm) {
        padding-bottom: $footer-height-sm + $content-spacing;
    }
}

.wrap {
    @extend %container;
    @extend %center;
    @extend %clearfix;
    // @extend .text-left;
}

#header, footer, main, section {
    @extend %container;
    @extend %contain;
}


// header
// ----------------------------------------------------------------------
#header {
    z-index: z(header);

    h1 {
        cursor: pointer; cursor: hand; // for ie
        z-index: z(logo);

        @include text-pic($logo-img, nth($logo-size,1),  nth($logo-size,2));
        @include absolute(left cp(70px) top 28px);

        @include media(xs) {
            top: 15px; left: 10px;
            background-size: contain;
            @include size(150px,70px);
        }
    }
}

.lan-nav {
    font-size: em(26px);
    color: #fff;
    line-height: 34px;
    z-index: z(logo)+1;
    @include absolute(right 116px top 40px);
    @include media(xs) { font-size: em(14px); right: 100px; top: 15px; }
}
.top-nav {
    text-align: right;
    z-index: z(logo)-1;

    @include absolute(right 20px top 38px);
    @include media(xs) {
        font-size: em(12px);
        right: 10px; top: 12px;
    }

    a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;

        &.club { @include text-pic('icon_club.png', 35px, 35px, fixed); }
        &:last-of-type { background-position: -92px 0; }
    }
    span {
        display: block;
        clear: both;
        color: #fff;
        font-size: em(20px);
        margin-top: 8px;
    }
}


// footer
// ----------------------------------------------------------------------
footer {
    @extend %center;
    background: $footer-bg;
    margin-top: -($footer-height);
    height: $footer-height;
    z-index: z(footer);

    color: #fff;
    padding: $gutter;

    @include media(sm) {
        margin-top: -($footer-height-sm);
        height: $footer-height-sm;
    }
}

.explain {
    float: right;

    @include media(sm) {
        float: none;
        text-align: center;
        padding-top: 10px;
    }

    a {
        color: #fff;
        font-size: em(17px);
    }
}

.copyright {
    float: left;
    font-size: em(17px);
    text-align: left;
}
.bottom, .goTop {
    @include media(sm) {
        @include prefix(transform,scale(0.6) translateX(40%));
    }
}
.bottom {
    @include fixed(bottom cp(230px) right 0);
    width: 115px;
    padding: 15px 3px;
    background: #fff;
    border-radius: 15px 0 0 15px;
    box-shadow: -10px 15px 0 rgba(#CBC9C8, 0.5);
    z-index: z(goTop)+1;
    a {
        display: block;
        font-size: em(31px);

        &:first-child {
            @include circle(92px);
            background: $info;
            color: #F5F199;

            &:hover, &:active { background: $brand-secondary; }
        }
        &:last-child {
            border-top: 1px solid #878787;
            line-height: 1.1;
            padding-top: 12px;
            margin: 12px 10px 0 10px;
        }
    }
}
.goTop {
    @include fixed(bottom cp(55px) right cp(10px));
    @include circle(100px);

    background: rgba(#fff,0.6);
    border: 2px solid $info;
    color: $info;
    font-size: em(40px);
    line-height: 1.1;
    padding-top: 37px;

    display: none;
    z-index: z(goTop);

    &::before {
        @include caret(up, 20px, 22px, $info);
        @include absolute(top 0 left 50%);
        content: '';
        margin-left: -10px;
    }
    &:hover, &:active {
        opacity: 1;
        background: #fff;
        color: darken($link-color,10%);
    }
}