@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@* @section css {
<link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
<script src="~/Content/js/swiper/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    autoplay: 2500,
    loop: true
});
</script>
} *@

<div id="banner" class="swiper-container">

    <ul class="swiper-wrapper">
        <li class="i1 swiper-slide">
            <h2>來自台灣，<br>醫學美容級專業面膜。</h2>
            <p><a href="~/AboutUs">Read Our Story &gt;&gt;</a></p>
        </li>
    </ul>

    <p><img src="~/Content/Index/pro.jpg" alt=""></p>

</div><!-- banner //-->