@{
    ViewBag.Title = "首頁";
    ViewBag.IsFirstPage = true;
    ViewBag.BodyClass = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
<link href="~/Content/css/swiper.min.css" rel="stylesheet">
}

@section Scripts {
<script src="~/Content/js/swiper/swiper.min.js"></script>
<script>
var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    autoplay: 2500,
    loop: true,
    speed: 1500,
    effect: 'fade'
});
</script>
}

<div id="banner" class="swiper-container">

    <ul class="swiper-wrapper">
        <li class="i1 swiper-slide">
            <div class="wrap">
                <h2>來自台灣，<br>醫學美容級專業面膜。</h2>
                <a class="btn" href="~/AboutUs">Read Our Story &gt;&gt;</a>
            </div>
        </li>
        <li class="i2 swiper-slide">
            <div class="wrap">
                <h2>來自台灣，<br>醫學美容級專業面膜。</h2>
                <a class="btn" href="~/AboutUs">Read Our Story &gt;&gt;</a>
            </div>
        </li>
    </ul>

    <figure class="pro">
        <a href="~/Products/list">
            <img src="~/Content/images/Index/pro.jpg" alt="">
            <figcaption class="btn">Our Products &gt;&gt;</figcaption>
        </a>
    </figure>

</div><!-- banner //-->