<!DOCTYPE html>
<html ng-app="angularApp">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="hidden" name="p0" value="1" />
        <button type="submit"></button>
    </form>
</body>
</html>
