@charset "UTF-8";

$btn-color:          #fff !default;
$btn-hover-color:    #fff !default;
$btn-bg-color:       #E0C98E;
$btn-bg-hover:       #C2AB6F;
$btn-shadow:         none;

$btn-padding:        8px 15px !default;
$btn-border:         0;
$btn-border-radius:  0 !default;

$btn-font-size:      18px !default;
$btn-line-height:    1 !default;

$btn-disabled:       $gray-light !default;
$btn-state-color:    #fff !default;


// button
// ----------------------------------------------

.btn {
    display: inline-block;
    padding: $btn-padding;

    background: $btn-bg-color;
    border-radius: $btn-border-radius;
    border: $btn-border;

    color: $btn-color;
    font-size: em($btn-font-size);
    line-height: $btn-line-height;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    transition: background 0.3s;

    &, &:active, &.active {
        &:focus, &.focus {
            @include tab-focus;
        }
    }
    &:hover, &:active {
        background: $btn-bg-hover;
        color: $btn-hover-color;
    }
    &:active, &.active {
        outline: 0;
    }
    &.disabled, &[disabled], fieldset[disabled] & {
        cursor: $cursor-disabled;
        opacity: .65;
    }
}

@if $states {
    // [class*="btn-"] {
    //     color: $btn-state-color;
    // }
    @each $type, $color in $state-type {
        .btn-#{$type} {
            @include state($color, btn)
        }
    }
}