@charset "UTF-8";

// common
// ------------------------------------------------------------
%clearfix, .clearfix {
    &::after { content: ''; display: table; clear: both; }
    @if $lte7 { zoom: 1 }
}

.full, %full         { width: 100%; max-width: 100%; }
.half, %half         { width: 46.9% }
// .float-l, %float-l,
// .float-r, %float-r   { margin: 0 0 20px 0; position: relative; }
.float-l, %float-l   { float: left; }
.float-r, %float-r   { float: right; }
.valign-t, %valign-t { vertical-align: top; }
.valign-m, %valign-m { vertical-align: middle; }
.valign-b, %valign-m { vertical-align: bottom; }
.clear, %clear       { clear:both }

.hidden, %hidden     {display:none;}

.circle, %circle     { border-radius: 50%; } // 圓形

// text
// ------------------------------------------------------------
.text-left, %text-left     { text-align: left; }
.text-right, %text-right   { text-align: right; }
.text-center, %text-center { text-align: center; }

// 多行文字垂直置中
%text-middle {
    position: relative;
    top: 50%;
    @include prefix(transform,translateY(-50%))
    // * { display: inline-block; vertical-align: middle; }
    // &::before {
    //     content: '';
    //     display: inline-block;
    //     vertical-align: middle;
    //     height: 100%;
    //     // position: relative;
    //     // @include size(0,100%);
    // }
}

%list-unstyled, .list-unstyled {
    list-style: none;
}

%list-inline, .list-inline {
    @extend %list-unstyled;

    margin-left: -5px;

    > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }
}

// 情境: var.scss> $states: true
// @if $states {

//     [class*="bg-"] {
//         color: #fff;
//     }

//     @each $type, $color in $state-type {
//         .text-#{$type} {
//             @include state($color);
//         }
//         .bg-#{$type} {
//             @include state($color, bg)
//         }
//     }
// }
